[2019-12-22 03:06] tjadamlee opened #1 "Validation scripts"
We need scripts to validate things such as data directory structure. Otherwise we won't know if certain step fails. I'll assign it to myself for now but may take some time to get back to this.

[2020-01-04 08:32] tjadamlee opened #16 "redefine SpeechTransformer2"
@leixiaoning using the new approach to implement the SpeechTransformer2 call function, in which we forward twise: the first time forward is used to generate the predicted target, the second forward is used to intergate the ground truch, so that we can enable the schedule sampling

[2020-01-04 08:33] tjadamlee opened #17 "Add OpenMandarin Dataset"
@Some-random add other opensource mandarin dataset

[2020-01-05 07:45] Some-random commented on #16
reference: https://arxiv.org/abs/1906.07651

[2020-01-06 07:58] Some-random opened #18 "Accelerate decoding"
Beam search with CTC joint decoding is really slow, we need to accelerate it. Two solutions on top of my head:

1  split test set into smaller pieces then divide-and-conquer with horovod
2  use tf-function compatible code to rewrite CTC joint decoding part

@cookingbear please look it this

[2020-01-06 08:38] Some-random commented on #17
@hyx100e please look into this

[2020-01-06 08:47] Some-random commented on #17
Add ST-CMDS and combine prepare_data.py of all OpenMandarin dataset together

[2020-01-06 10:50] hyx100e commented on #17
All right, I will finish it this weekend

[2020-01-09 00:30] chenguoguo commented on #18
3. If lm is used, load lm refactor the code so that lm will be loaded for only once.

[2020-01-10 04:59] chenguoguo opened #21 "decoding output"
We have to do couple of things regarding decoding output:

1. Add configuration to write file to disk;

2. Compare WER/CER with standard tools.

Assigning tasks to myself for now.

[2020-01-11 01:05] chenguoguo opened #22 "hkust mtl_transformer_sp.json result"
@Some-random what is your number on the updated mtl_transformer_sp.json? Seems like it was couple (2%?) percents worse than the original configuration before https://github.com/athena-team/athena/pull/19?

[2020-01-12 08:40] Some-random commented on #22
WER with updated mtl_transformer_sp.json (train for a total of 8 epochs on 4 gpu and divide learning rate by 10 at 22000 steps) on HKUST is 24.09 without MPC and 23.77 with MPC. Did you get better result with original mtl_transformer_sp.json (train for a total of 13 epochs and divide learning rate by 10 at 140000 steps)?

[2020-01-13 05:26] chenguoguo commented on #22
My run was worse, something might be wrong, I’ll run it again.

[2020-01-13 06:52] tjadamlee commented on #22
@Some-random do you use the same language model generated by "tools/kenlm/build/bin/lmplz -o 4 < examples/asr/hkust/data/text.seg  > examples/asr/hkust/data/4gram.arpa" to get the results ?

[2020-01-13 06:57] tjadamlee opened #24 "calculate pitch"

[2020-01-13 06:58] tjadamlee commented on #17
@hyx100e please finish this, since this is another new week

[2020-01-13 06:59] tjadamlee commented on #16
@leixiaoning please finish this maybe this week

[2020-01-13 06:59] Some-random commented on #22
Actually the LM model I used to get 24.09 was a 5-gram arpa... Sorry I forgot to mention it...

[2020-01-13 07:03] tjadamlee opened #25 "Customized model"
Using json to configure a sequence model. Please implement this in https://github.com/athena-team/athena/blob/master/athena/models/customized.py
@barius

[2020-01-13 07:29] tjadamlee opened #26 "aishell scripts"
Update the aishell examples.
1) We should start with downloading data in prepare_data.py
2) When run the run.sh, we may get some results, please write down those results in README
3) ...

[2020-01-13 07:34] Some-random commented on #26
I'll help xiaoning to write docs

[2020-01-13 09:59] tjadamlee commented on #22
So, please update the command in run.sh to support this, Thanks @Some-random

[2020-01-14 07:23] #17 closed, assigned to Some-random, hyx100e

[2020-01-14 07:57] Some-random commented on #22
I've updated run.sh and configuration json. I'll execute the full run.sh again to make sure it will get listed results.

[2020-01-14 11:51] #26 closed, assigned to leixiaoning

[2020-01-14 12:10] tjadamlee opened #32 "integrate https://github.com/athena-team/athena-decoder"
start a new branch to integrate athena-decoder into athena project. @godjealous
1) Currently, we can consider the athena-decoder as a seperate project, and install it using pip.
2) In athena, we only use the provided interface in athena-decode.
3) Evaluate the decoder from two aspects: the speed, and the CER
In the future, we may update athena-decoder and athena simultaneously,
@cookingbear please

[2020-01-14 13:04] godjealous commented on #32
OK, I have design the interface for decoder and implement it for transformer model. please help me accomplish other models according to the interfaces @cookingbear

[2020-01-20 03:33] leixiaoning commented on #16
@tjadamlee  it's done

[2020-01-22 14:20] tjadamlee commented on #22
@Some-random can we close this issue or not

[2020-01-22 14:23] tjadamlee opened #38 "Example case for ASR"
Finish the results in HKUST, AISHELL, LIBRISPEECH, SWITHBOARD

[2020-01-26 06:06] Some-random commented on #22
I've executed the whole shell scripts and got the results as listed in README.md. I think it's OK to close this issue for now

[2020-01-27 02:49] tjadamlee commented on #25
@barius please check this issue

[2020-01-28 04:03] chenguoguo commented on #22
Great! I'm closing this issue.

[2020-01-28 04:03] #22 closed, assigned to Some-random

[2020-01-30 09:58] Some-random commented on #38
I've finished HKUST results w/o mpc.  @leixiaoning is working on Aishell and @cookingbear is working on Librispeech

[2020-02-05 02:50] tjadamlee opened #47 "Speaker Classification Samples"

[2020-02-06 10:10] tjadamlee commented on #16
@leixiaoning please re-open a new PR, and then close this issue

[2020-02-06 10:11] tjadamlee commented on #32
please finish this in two weeks @cookingbear @godjealous

[2020-02-19 08:16] #16 closed, assigned to Some-random, leixiaoning

[2020-02-20 04:46] csukuangfj opened #56 "Any specific reasons to not choose PyTorch ?"
Why is tensorflow, instead of PyTorch, selected for this project ?

[2020-02-26 14:23] tjadamlee commented on #38
@Some-random @cookingbear  about the librispeech, we should prepare a run.sh

[2020-02-26 14:24] Some-random commented on #38
We will make one

[2020-02-28 01:51] #38 closed, assigned to cookingbear, Some-random, leixiaoning

[2020-03-20 16:24] pc-seawind opened #62 "Error when run in pure CPU machine"
Traceback (most recent call last):
  File "athena/main.py", line 171, in <module>
    BaseSolver.initialize_devices(p.solver_gpu)
  File "/media/runyu/D/works/algorithm/ASR/athena/athena/solver.py", line 54, in initialize_devices
    assert len(gpus) > len(visible_gpu_idx)
AssertionError

Error occurred on following codes:
    @staticmethod
    def initialize_devices(visible_gpu_idx=None):

[2020-03-20 16:26] tjadamlee commented on #62
@Some-random please help check this

[2020-03-20 16:30] tjadamlee commented on #56
This project mainly based on tensorflow2.0+, maybe in the future, we may also consider add pytorch as the backend

[2020-03-20 16:34] Jobiro-Jostar opened #63 "horovod.tensorflow"
When I typed import horovod.tensorflow, it occured an error like that:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/adddisk/zhangjin/projects/horovod/horovod/tensorflow/__init__.py", line 25, in <module>
    check_extension('horovod.tensorflow', 'HOROVOD_WITH_TENSORFLOW', __file__, 'mpi_lib')
  File "/adddisk/zhangjin/projects/horovod/horovod/common/util.py", l

[2020-03-21 01:21] Some-random commented on #62
Thank you for spotting this bug. I've created a [pull request](https://github.com/athena-team/athena/pull/64) to fix it.

[2020-03-21 01:27] chenguoguo commented on #62
I've merged the PR, so closing this. Please report again if you encounter other issues using Athena on CPU

[2020-03-21 01:27] #62 closed, assigned to Some-random

[2020-03-21 01:28] chenguoguo commented on #63
@Some-random could you take a look or assign it to someone else? I didn't encounter this in my environment...

[2020-03-21 01:44] Some-random commented on #63
I'm looking into this. @8z8z8z wrote most code for horovod part, can you also take a look at this?

[2020-03-21 02:11] Some-random commented on #56
Also, we're building this open source project with the goal of 'facilitating the building and deploy of industrial application' in mind. As of this moment, TF's support for industrial applications is still better than PyTorch.

But there is no doubt these two frameworks are looking more and more similar...

[2020-03-21 02:23] JianweiSun007 commented on #63
@Jobiro-Jostar Hi, your environment maybe have some issues.
Maybe this can help you
https://github.com/horovod/horovod/issues/314
and you can try this command:
-------------
TensorFlow
To ensure that Horovod is built with TensorFlow support enabled:

$ HOROVOD_WITH_TENSORFLOW=1 pip install horovod[tensorflow]
or
HOROVOD_WITH_TENSORFLOW=1 [other flags you used before] pip install -v --no-cache-dir

[2020-03-21 04:29] Jobiro-Jostar commented on #63
I typed the command:HOROVOD_WITH_TENSORFLOW=1 [other flags you used before] pip install -v --no-cache-dir horovod[tensorflow] and the error was fixed, many thx to you

[2020-03-21 04:29] #63 closed, assigned to JianweiSun007, Some-random

[2020-03-21 07:56] Some-random commented on #18
@cookingbear If you have tested your implementation in decoding branch, please merge it with master. Currently the decoding speed in master branch is still really slow.

[2020-03-23 12:32] xinkez opened #67 "Problem: Ran out of memory"
Hi all,

I used this commit b7b2d9117d3d83f5aaef27eed3fd3c950f5790f8, and trained the aishell example. The occupied memory of GPU went larger and larger with global_steps, finally it ran out of memory.

os: ubuntu 16.04
tensorflow: 2.0.1

Thank you in advance.

[2020-03-23 12:36] Some-random commented on #67
Our config for aishell requires ~17G of GPU memory on single card. Were you able to finish one epoch of training?

[2020-03-23 12:41] xinkez commented on #67
@Some-random When training, I used 4 GPU cards (each with 11 GB memory). I am not able to finish one epoch.

Do you mean that I should decrease the batch size even with 4 GPU cards?

[2020-03-23 12:45] Some-random commented on #67
Yes. Batch in config means 'batch size for each GPU card'.

[2020-03-23 12:57] xinkez commented on #67
@Some-random Thank you. I will decrease the batch size, and try again.

Another question, I have trained the aishell example for almost 3 hours, but no ckpt model files can be found.

[2020-03-23 14:01] Some-random commented on #67
We save checkpoint after finishing training for each epoch. And ckpt files will be saved in directories like examples/asr/aishell/ckpts/mtl_transformer_ctc. Were you able to finish one epoch in 3 hour training?

[2020-03-23 14:36] xinkez commented on #67
@Some-random I have decreased the batch size to 16, and now one epoch is finished. Also, ckpt files are saved. Thank you.

[2020-03-23 14:36] #67 closed, assigned to nobody

[2020-03-24 14:04] Jobiro-Jostar opened #70 "a little bug in aishell example"
In the file examples/asr/aishell/local/prepare_data.py,the 47th line code:if not gfile.Exists(os.path.join(dataset_dir, subset)),I think the variable dataset_dir should be replaced to audio_dir.

[2020-03-25 05:05] tjadamlee commented on #70
@leixiaoning please check

[2020-03-25 05:12] tjadamlee commented on #47
@barius please working on this

[2020-03-25 06:09] leixiaoning commented on #70
use 'os.path.join(dataset_dir, subset)' means we must unzip the zip file under dataset_dir, because line 64 will use that dir.  but user may unzip under audio_dir directly, so, i will fix that. @tjadamlee

[2020-03-25 06:12] Jobiro-Jostar commented on #70
Yep, I see

[2020-03-26 08:05] chenguoguo opened #74 "Memory usage optimization"
I had a discussion with @tjadamlee , we think our default examples' GPU memory usage is way too high, which is blocking a lot of users. We should tune the parameters (e.g., batch size) as well as the model structures, to keep the memory usage under 8G for default example setups.

@Some-random could you please take the lead and cut all examples' memory usage under 8G, while keeping the performance

[2020-03-26 11:02] Some-random commented on #74
For model structures, I've tried changing d_model from 512 to 256, which almost cut trainable parameters to half (and WER on HKUST increases from 23.3 to 23.55), but the GPU memory usage is still over 17G, which is really confusing...

Decreasing batch size will normally hurt the performance of Transformer models. I guess we could  keep the 'effective batch size' unchanged by applying the accum_gr

[2020-03-26 15:16] chenguoguo commented on #74
Did you try per_process_gpu_memory_fraction and allow_growth?

[2020-03-26 15:39] iou2much opened #75 "seems deadlock occurs when using multithread"
Here's the mtl_transformer.json for finetuning stage. I set the num_data_threads:32, and it hangs up at the end of the first training epoch.
`    horovodrun -np 4 -H localhost:4 python athena/horovod_main.py examples/asr/hkust/configs/mtl_transformer.json
`

Here's part of the strace log of one of the process:

[2020-03-26 22:14] pengcheng-tech opened #76 "An installation issue"
Hi,

When I was running the installation step:
pip3.7  install -r requirements.txt

I had some errors shown as below (it would be too long to paste all of them, so I pasted some screenshots here). I would be very grateful if you could have a look...Is it because I didn't configure the horovod environment right or I didn't successfully install mpi?

Requirement already satisfied: pyasn1>=0.1.3 in /

[2020-03-27 00:10] pengcheng-tech commented on #76
Because it looks like gloo or mpi needed

installed gloo using pip3.7
and mpi using apt-get

same error

I then installed cmake using apt, then mxnet using pip, and ran again. Still errors...Do the errors have something to do with flags to cpp?

They are as below:

[code]

I keep having the cc1plus `warning`, then at the end, errors are shown as:

[code]

[2020-03-27 01:13] iou2much commented on #75
I change the num_data_threads to 2. It's working now...But wondering why ?

[2020-03-27 01:21] iou2much opened #77 "Mix-precisioned training"
Hi. We want to use it in mix-precisioned mode, as  our GPU don't have much memory, and we want to speed up the training.

I change the code to use mix-precisioned training feature in TF2. It works for MPC (stage 1).
But for the fine-tuning stage, the loss becomes nan at the very beginning.
I try to debug it, and find out the PositionalEncoding in speech_transformer.py is always returning NaN.

[co

[2020-03-27 01:25] iou2much commented on #74
I try to use mix-precision, which can speed up a lot for MPC stage. but I got nan loss in fine-tuning stage. could anyone help please? I describe the situation here: #77

[2020-03-27 03:42] tjadamlee commented on #77
@iou2much thanks, @leixiaoning please help check this

[2020-03-27 03:44] tjadamlee commented on #74
@Some-random we may build another new example which can be trained using a smaller memory and do not focus on sota

[2020-03-27 03:47] tjadamlee commented on #75
Thanks, this should be a bug. @8z8z8z please help check this

[2020-03-27 04:04] Some-random commented on #76
@8z8z8z please look into this

[2020-03-27 04:37] Some-random commented on #70
Please close this issue if your problem is solved @Jobiro-Jostar .

[2020-03-27 04:47] iou2much commented on #75
It might be related to this [horovod issue](https://github.com/horovod/horovod/issues/403.) . the smaller the num_data_threads I set, the faster I wait for the start of evaluation stage.
Also, my dev data is only 1000 records, just try it speed up the whole training process. Does it matter?
I think it might be the cause, small dev data and large num_data_threads, might cause inbalanced batch for e

[2020-03-27 04:54] #70 closed, assigned to leixiaoning

[2020-03-27 08:00] Some-random commented on #74
I've created a pull request with a new demo conf https://github.com/athena-team/athena/pull/78.

If it looks good to you, I'll mention this new conf in README.md.

[2020-03-28 02:10] iou2much opened #79 "CUDA_ERROR_ILLEGAL_ADDRESS: an illegal memory access was encountered"
Hi, I use mtl_transformer_sp.json for Fine-tuning stage. It finished the epoch 0, but error occurs at some point of epoch 1.
BTW, when I run it without `"speed_permutation": [0.9, 1.0, 1.1]`, it works.

Here's the command:
`    horovodrun -np 4 -H localhost:4 python athena/horovod_main.py examples/asr/seewo/configs/mtl_transformer_sp.json
`
Here's the config:
`
{
  "batch_size":24,
  "num_epochs":

[2020-03-28 04:45] #56 closed, assigned to nobody

[2020-03-28 05:04] Some-random commented on #79
It looks more like a system issue with GPU card/ CUDA kernal. Please tell us your CUDA/cuDNN version and tensorflow version.

Also, please remove everything under folder ~/.nv/ and run mtl_transformer_sp.json again. Let me know if this problem still exists.

[2020-03-28 05:38] leixiaoning commented on #77
ok, i will check.  @tjadamlee

[2020-03-28 05:42] leixiaoning commented on #77
did you use  os.environ['TF_ENABLE_AUTO_MIXED_PRECISION'] = '1'  for supporting mixed precision training？ @iou2much

[2020-03-28 05:49] leixiaoning commented on #77
did you use os.environ['TF_ENABLE_AUTO_MIXED_PRECISION'] = '1' for supporting mixed precision training？ @iou2much

[2020-03-28 06:53] iou2much commented on #79
Thanks a lot for the quick reply.
Here's more info.
[code]

The NVidia driver version is 440.31

[code]

[code]

[2020-03-28 06:55] JianweiSun007 commented on #76
Hi, @beefable maybe, you should check your python version and make sure wether it is >=3.0 or not. If not you should install Python 3.6.9 and then you can try "pip install cython". If  you still have some questions, please feedback

[2020-03-28 06:56] iou2much commented on #77
nope. I add this before the model initialization.
`tf.keras.mixed_precision.experimental.set_policy('mixed_float16')
`

[2020-03-28 08:39] Some-random commented on #74
Allow_growth is enabled by default. I tried per_process_gpu_memory_fraction and it manages to keep GPU usage constant but it also makes running really slow (4x time on one epoch)...

[2020-03-28 12:28] pengcheng-tech commented on #76
Hi @8z8z8z , thanks. My python version is 3.7

[code]
Because I thought the problem may have something to do with kenlm language model tool, I tried to install kenlm separately. Then cmake is required...

I tried to install cmake, but some problem about BOOST came out. Now the issue is as below:

[code]

[2020-03-28 12:36] 8z8z8z commented on #76
@beefable look that “find: ‘/run/user/120/gvfs’: Permission denied”. Maybe you should use "sudo cmake & sudo make"

[2020-03-28 12:38] JianweiSun007 commented on #76
@beefable please vim your /home/dave/kenlm/build/CMakeFiles/CMakeOutput.log and I can read it

[2020-03-28 12:45] JianweiSun007 commented on #76
@beefable  Hi, maybe this bloge can help you https://blog.csdn.net/ljp1919/article/details/100975931 the similar question I found in the bloge.

[2020-03-28 13:24] xinkez opened #80 "Error of decoding stage"
Hi,
When I was running the decoding stage, I got such error message:

<<<
Traceback (most recent call last):
  File "athena/decode_main.py", line 87, in <module>
    decode(jsonfile, n=5, log_file='nohup.out')
  File "athena/decode_main.py", line 65, in decode
    v = tf.reduce_mean(tf.concat(v,axis=0),axis=0)
  File "/8T_raid/user/venv_athena/lib/python3.5/site-packages/tensorflow_core/python/uti

[2020-03-28 13:34] pengcheng-tech commented on #76
Hi @8z8z8z Thanks for the help. The article seems very helpful. Due to some circumstances, I can only try it later.

I will let you know the results. Thanks.

[2020-03-28 14:44] Some-random commented on #80
@cookingbear please look into this

[2020-03-28 15:20] iou2much commented on #79
My ~/.nv is empty, but I clear it anyway.
And seems I may run into this error randomly. I can successfully train the 4th epoch now, and the error occur during the training, I just restart the run.sh and it can go on

[2020-03-28 15:56] cookingbear commented on #80
That may be caused by envs. Which version of tensorflow do you use to train and decode?
If your requirement is different from ours, please show your env list with versions.

[2020-03-28 16:01] xinkez commented on #80
@cookingbear

tensorflow-gpu 2.0.1
cuda 10.0.130

[2020-03-28 16:57] Jobiro-Jostar commented on #80
Well, tensorflow 2.0 could not be compatible with cuda 10.1, it can only support cuda 10.0.TF2.1 could support cuda 10.1

[2020-03-28 17:03] xinkez commented on #80
@Jobiro-Jostar
Sorry, I double check the cuda's version. It is 10.0.130.

[2020-03-28 17:07] Jobiro-Jostar opened #81 "A little bug in decode code while restoring ckpt"
Checkpoint saves files from index 1 by default, whereas the restoring code read ckpt file from index 0.In the athena/decode_main.py, the 55th line code could be modified with 'ckpt_path = p.ckpt + 'ckpt-' + str(idx + 1)'

[2020-03-28 17:14] leospark opened #82 "an installation problem on win10"
i am installing athena on my win10 system, this problem comes to me:
![image](https://user-images.githubusercontent.com/34911790/77829076-94765600-715a-11ea-98dd-5ba12105d942.png)

I will appreciate it for any help.

[2020-03-28 17:15] leospark commented on #82
Traceback (most recent call last):
  File "setup.py", line 26, in <module>
    TF_LIB_INC, TF_SO_LIB = tf.sysconfig.get_link_flags()
ValueError: not enough values to unpack (expected 2, got 0)

[2020-03-29 00:43] pengcheng-tech commented on #76
Hi @8z8z8z,

Thanks for your help.

The commands in the article are for redhat. I tried the ubuntu equivalent on the machine, but I got errors. When I tried

`sudo apt install libboost-all-dev`

I have errors like

[code]
My log is attached here:
[CMakeOutput.log](https://github.com/athena-team/athena/files/4398134/CMakeOutput.log)

I also tried:

[code]

[2020-03-29 01:27] Some-random commented on #81
Thanks for spotting this out. We will make a pr to fix it.

[2020-03-29 01:37] Some-random commented on #82
Athena is mostly built on Linux and we haven't tested installation on Windows 10. Is this possible for you to use Linux on Window 10?

[2020-03-29 03:11] leospark commented on #82
OK, i see.

[2020-03-29 06:20] #81 closed, assigned to nobody

[2020-03-29 09:52] cookingbear commented on #80
@xinkez Well, did you save the train and evaluation log? In the current decoding mode, N-best Checkpoints were loaded and averaged which depend on the saved log named as "nohup.out" during training.
I will add this check soon. If you did not save any log during training, you can temporarily touch a "nohup.out" file under the root directory and append a line to the file as below:

epoch: yourbestep

[2020-03-29 10:21] cookingbear opened #84 "save log files during training and decoding"
Currently users have to use redirect instructions which are easily to be forgotten to save logs and the log is critical to be used to extract n-best checkpoints during decoding. So the mechanism to automatically save logs may be needed.

[2020-03-29 14:27] iou2much opened #85 "How to Transfer Learning?"
Hi, I wonder how to use a pretrained model for a new dataset? The new data is a total different one.
Am I supposed to use the MPC model? If so, do I need to recalculate cmvn for the new dataset?
Or can I skip the MPC stage,and finetune the latter model with new data?  i.e, SpeechTransformer, and RNNLM ?
Please give me some guidance. Thanks a lot.

[2020-03-30 02:10] Some-random commented on #84
I think so too. Saving logs will be good feature to add.

[2020-03-30 02:15] Some-random commented on #85
The [README](https://github.com/athena-team/athena/tree/master/examples/asr) in Athena ASR examples explained the process clearly.

You do need to calcalate cmvn for the new dataset to remove variance in input distribution. MPC is simply a means to extract useful information in unsupervised data to improve the performance of ASR tasks. Using it or not is your choice.

[2020-03-30 05:05] xinkez commented on #80
@cookingbear
I saved the train and evaluation logs, but the name was not "nohup.out". I follow your instructions, and now it run without errors.

Does the decoding process run with only one gpu? Now It is 6.9 sec/iter. Is it right?

[2020-03-30 05:05] iou2much commented on #85
@Some-random Thank you for the replay.
I read the doc before, and I thought it's for training from scratch.
I've trained a model with around 1100 hours opensource dataset, and get about 8% CER.
But the model perform badly for our own data.
So the next I want to try is to train a model with our user data, around 10000h.
I'm thinking to finetune all pretrained models( MPC, SpeechTransformer and LM )

[2020-03-30 05:10] cookingbear commented on #80
yes, the decoding process supports only one gpu currently. And the speed optimization and multi-gpu support will be updated soon.

[2020-03-30 06:04] xinkez commented on #80
@cookingbear
Thank you. I will close the issue.

[2020-03-30 06:04] #80 closed, assigned to cookingbear

[2020-03-30 06:25] Some-random commented on #85
It depends on how similar (noise condition, sample rate, speaking style, etc) your user data is to opensource dataset. Training from scratch is normally better if the two datasets isn't similar enough.

[2020-03-30 08:46] iou2much commented on #85
I see. Thanks a lot

[2020-03-30 08:46] #85 closed, assigned to nobody

[2020-03-30 15:21] leospark opened #88 "'python examples/asr/aishell/local/prepare_data.py' failed"
![image](https://user-images.githubusercontent.com/34911790/77930048-efd05180-72dc-11ea-8789-de6094174c5c.png)

$ python examples/asr/aishell/local/prepare_data.py
Traceback (most recent call last):
  File "examples/asr/aishell/local/prepare_data.py", line 25, in <module>
    from athena import get_wave_file_length
  File "/workspace/users/lpp/source/athena/athena/__init__.py", line 18, in <module

[2020-03-30 15:27] robinn37 opened #89 "incorrect lm_path in aishell example config"
lm_path in decode_config is incorrect in examples/asr/aishell/configs/mtl_transformer_sp.json.

examples/asr/aishell/rnnlm.json => examples/asr/aishell/configs/rnnlm.json

[2020-03-30 15:28] Some-random commented on #88
Have you completed the installation (running tools/install.sh)? Is the environment still windows 10?

[2020-03-30 15:42] Some-random commented on #89
Thanks for spotting this out. We will make a pr to fix it.

[2020-03-30 16:09] liziru commented on #88
Yes, i finished all installation instructions on  centos7,  not win10 .

[2020-03-30 16:10] leospark commented on #88
Yes, i finished all installation instructions on centos7, not win10 .

[2020-03-31 02:17] tjadamlee commented on #88
it seems something wrong on building the athena_transform. you can check about the installation of `python setup.py bdist_wheel sdist`, besides, after installation, make sure that `source tools/env.sh` firstly

[2020-03-31 02:22] tjadamlee opened #90 "docker"
Building some docker environment

[2020-03-31 02:30] leospark commented on #88
I checked everything you referred ， all installation info shows no errors.  Any more advice ? Thank you very much.

[2020-03-31 02:36] Some-random commented on #88
@aishinchi Please also take a look at this

[2020-03-31 05:18] aishinchi commented on #88
Have you checked out the `*.so` in `build/lib*/Athena/transform/feats/ops/`?  Do you install Athena in the current directory or some other directory?  Can you find the` *.so `in the installation directory？

[2020-03-31 08:15] iou2much commented on #90
I'm using docker to train the model. I can create a PR with Dockerfile if you need:)

[2020-03-31 13:16] robinn37 opened #92 "Lot's of read -1 errors dumped during aishell CTC training"
There were quite a lot of read errors dumped during the training process. However, it seemed no impact to the training. Not sure if you ever got such annoying errors. Anything wrong with my training set?

....
[1,7]<stderr>:INFO:absl:perform batch_wise_shuffle with batch_size 16
[1,2]<stderr>:INFO:absl:please be patient, enable tf.function, it takes time ...
[1,0]<stderr>:INFO:absl:please be patie

[2020-03-31 13:46] LuxuryApple opened #93 "install error: Running setup.py install for horovod ... error"
Hi,
my Install Environment：
VMware15.0, Ubuntu 18.04, python3.6.9

[code]

How to solve it?

[2020-03-31 14:42] leospark commented on #88
Actually, I found the error message '
![image](https://user-images.githubusercontent.com/34911790/78039293-874aa880-73a0-11ea-8eb8-288ff0b09c8a.png)' at first,  then I run command 'export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:....', then this error came. Do you have any advice?

[2020-03-31 14:50] robinn37 commented on #93
You got gcc >= 7.3.1?

[2020-03-31 14:56] LuxuryApple commented on #93
ok. I will check it and try do it again.

[2020-04-01 01:36] LuxuryApple commented on #93
Hi,

(venv_athena) luxury@luxury-virtual-machine:~/luxy/athena$ gcc --version
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

so my gcc version >=7.3.1

Hope to answer again.

[2020-04-01 02:14] robinn37 commented on #93
Try the section "MPI is not found during installation" in the following guide.
https://horovod.readthedocs.io/en/latest/troubleshooting_include.html

[2020-04-01 02:22] Some-random commented on #82
Please close this issue if your problem is solved @liziru

[2020-04-01 02:23] Some-random commented on #92
We haven't seen errors like this. Is this some kind of error message from Athena Transform? @aishinchi

[2020-04-01 02:23] Some-random commented on #89
Please close this issue if your problem is solved @huiding9

[2020-04-01 02:25] Some-random commented on #88
It seems like an error with your TensorFlow installation... Were you able to import TensorFlow?

[2020-04-01 02:31] Some-random commented on #93
@8z8z8z please also take a look at this
@LuxuryApple Athena also provides single GPU training. There is a [demo](https://github.com/athena-team/athena/blob/master/examples/asr/aishell_sub/run.sh) on AISHELL for reference.

[2020-04-01 02:49] leospark commented on #82
OK，i change my environment to centos7.

[2020-04-01 02:49] #82 closed, assigned to nobody

[2020-04-01 02:53] leospark commented on #88
![image](https://user-images.githubusercontent.com/34911790/78094348-f0650700-7406-11ea-86eb-0cc946459caf.png)
but what's wrong with my tf ? i did a tf test before.

[2020-04-01 03:16] wangkuiyi commented on #90
I agree that we add /Dockerfile which defines our development environment -- I am not talking about the deploy-time (runtime) environment here.

I suffered from the following errors when I follow the development procedure in /README.md to run `pip install -r requirement.txt`:

[code]

It seems that something went wrong with the installation of horovod.  I often suffer from package installation pro

[2020-04-01 03:28] wangkuiyi commented on #90
BTW, the reason I cannot install Horovod is explained in https://github.com/horovod/horovod/issues/52#issuecomment-420971603. The solution for macOS users is that I need to run

[code]

If I use Docker on macOS, I wouldn't need to manually install Horovod with the special setting of of `CFLAGS=-mmacosx-version-min=10.7`.

[2020-04-01 04:03] OswaldoBornemann opened #94 "RuntimeError: Gloo job detected that one or more processes exited with non-zero status"
When i tried to run the aishell `run.sh` in example directory based on 1 gpu, it shown up the below error.

[code]

[2020-04-01 06:10] iou2much opened #95 "how to speed up cmvn computation"
![image](https://user-images.githubusercontent.com/2812471/78104502-e8669080-7421-11ea-8d01-ea14a931fdcb.png)
![image](https://user-images.githubusercontent.com/2812471/78104587-ffa57e00-7421-11ea-87eb-94c94643b3a8.png)
![image](https://user-images.githubusercontent.com/2812471/78104602-0b914000-7422-11ea-8222-95f789c6350d.png)
![image](https://user-images.githubusercontent.com/2812471/78104714-38

[2020-04-01 06:53] tjadamlee commented on #95
yes it is possible to make it run parrallelly. For example, for each speaker you can start a thread.

[2020-04-01 06:54] tjadamlee commented on #94
@Some-random please help take look at this issue

[2020-04-01 07:01] Some-random commented on #94
This seems like an issue with Horovod. Can you comment out $horovod_cmd part in run.sh and run it again?

[2020-04-01 07:40] OswaldoBornemann commented on #94
@Some-random Thanks for reply. I have comment out line49 to line54 and also change line27 to `horovod_cmd="horovodrun -np 1 -H localhost:1"`, but still have error.

[2020-04-01 08:23] Some-random commented on #94
You don't need to use horovod in single GPU mode. Please change the run command to 'python athena/main.py examples/asr/aishell/configs/xxx.json' and try again.

[2020-04-01 08:57] MarkWuCL opened #97 "assert len(gpus) > len(visible_gpu_idx)"
Wed Apr  1 08:54:43 2020[0]<stderr>:name: GeForce GTX 1070 major: 6 minor: 1 memoryClockRate(GHz): 1.759
Wed Apr  1 08:54:43 2020[0]<stderr>:pciBusID: 0000:01:00.0
Wed Apr  1 08:54:43 2020[0]<stderr>:2020-04-01 08:54:43.171558: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudart.so.10.0
Wed Apr  1 08:54:43 2020[0]<stderr>:2020-04-01 08:54:4

[2020-04-01 09:09] Some-random commented on #97
If you're using single GPU, please comment out horovod part in run.sh and change commands to something like 'python athena/main.py examples/asr/aishell/configs/xxx.json'

[2020-04-01 09:41] OswaldoBornemann commented on #94
@Some-random I have change line27 to `horovod_cmd="horovodrun -np 2 -H localhost:2"` to use 2 GPUs, and it shown up another error below.

[code]

[2020-04-01 09:52] Some-random commented on #94
This error is related to data csv. Is the path of wav files in your train/dev/test csv correct?

[2020-04-01 09:58] OswaldoBornemann commented on #94
@Some-random the train/dev/test csv seems empty.

[code]

[2020-04-01 10:03] OswaldoBornemann commented on #94
@Some-random It seems that it could not run correctly in data preprocess progress, i will debug it. Thanks a lot 🙏 .

The data directory is like below.

[code]

[2020-04-01 10:04] Some-random commented on #94
No problem

[2020-04-01 10:42] iou2much commented on #95
Thanks for the reply. But our data won't have specific speakers..so I have to compute the global cmvn ? i.e. cannot run it parrallelly?

[2020-04-01 13:01] Some-random commented on #95
You should compute global cmvn in your case. We don't support parallel cmvn computation at this moment, but you can always divide dataset into chunks and use multithread computation.

Feel free to implement it and make a pull request~

[2020-04-01 13:30] LeoMax-Xiong opened #98 "python script encoding suggestion"
the python script  `examples/asr/aishell/local/prepare_data.py `，
when I run in a chinese code envirionment, cannot run.
So I suggest add the following code to avoid the above problem:
[code]

[2020-04-01 15:10] #89 closed, assigned to nobody

[2020-04-01 16:43] LeoMax-Xiong opened #99 "aishell/data_prepare.py tar -zxvf problem"
https://github.com/athena-team/athena/blob/debfeb7b4751b3770dc7d56ad5cad83085bfabf5/examples/asr/aishell/local/prepare_data.py#L49

I don't understand why to `tar -zxvf` the directory of `aishell_enroll`, `aishell_major` , `aishell_test`

And the function `convert_audio_and_split_transcript` does not use the parameter `output_dir`， So whether there is a bug in this script

[2020-04-01 23:59] pengcheng-tech commented on #76
Hi, I tried many stuff, but still cannot make it work..

One of the main errors is like this one:

python/kenlm.cpp:5600:13: error: ‘PyThreadState {aka struct _ts}’ has no member named ‘exc_type’; did you mean ‘curexc_type’?
tstate->exc_type = type;

I checked online and some people said
"The problem is the generated c files that are included in the package. They are generated by cython from pyx/p

[2020-04-02 01:27] Mitomzhou opened #100 "aishell decode error: tensorflow.python.framework.errors_impl.InvalidArgumentError: OpKernel 'ConcatV2'...."
when I run aishell decoding scripts independently, Error message below:
_____________________________________________________________
......
None
best_wer_checkpoint:
[]
Traceback (most recent call last):
  File "athena/decode_main.py", line 87, in <module>
    decode(jsonfile, n=5, log_file='nohup.out')
  File "athena/decode_main.py", line 65, in decode
    v = tf.reduce_mean(tf.concat(v,axis=0),

[2020-04-02 01:36] Some-random commented on #99
@leixiaoning take a look at this

[2020-04-02 01:37] Some-random commented on #100
Please refer to this issue https://github.com/athena-team/athena/issues/80

[2020-04-02 01:39] Some-random commented on #98
Thanks for pointing this out. We will make a pr to fix it.

[2020-04-02 02:48] #94 closed, assigned to nobody

[2020-04-02 05:34] Some-random commented on #92
I did some searching on Google and this [issue](https://github.com/horovod/horovod/issues/503) pops out. Seems like those messages are typical in Docker and considered harmless.

[2020-04-02 06:01] Mitomzhou commented on #100
thanks a lot, I got it.

[2020-04-02 06:01] #100 closed, assigned to nobody

[2020-04-03 05:44] leixiaoning commented on #99
Thanks for questions, there are many tar.gz files in 'audio_dir' which is defined in line 42,('../../data_aishell/wav/')   'audio_dir+os.listdir(audio_dir)[i]' is just the i-th tar.gz file.
and the parameter output_dir will be delected. @Honei

[2020-04-03 09:54] LeoMax-Xiong commented on #99
Thanks for reply。I download the aishell in two different time point. The first is about 2019.5, and the directory of dataset is, there is no train, dev, test directory :
[code]
and the second time point is 2020.04.02， the directory of aishell is, and there is also no train, dev, test directory:
[code]
so I want know the md5 of your aishell dataset package.
Maybe the package of aishell have changed

[2020-04-03 10:23] pengcheng-tech commented on #76
Hi,

I have solved this issue by installing boost from source, then installed kenlm separately instead of using the install_kenlm.sh in tools folder.

There are some incompatibility existing in python3.7 and cython...

[2020-04-03 10:23] #76 closed, assigned to JianweiSun007

[2020-04-03 10:59] leixiaoning commented on #99
you should download the latter,  train,dev and test directory will appear after you unzip all files in 'data_aishell/wav/'

[2020-04-03 11:00] leixiaoning commented on #99
you should download the latter, train,dev and test directory will appear after you unzip all files in 'data_aishell/wav/' @Honei

[2020-04-03 11:53] LeoMax-Xiong commented on #99
@leixiaoning Thank you. As you answer, the train directory will appear when I unzip the wav/xxxx.tag.gz package。

[2020-04-03 14:16] robinn37 commented on #92
Thanks for the information.

[2020-04-03 14:16] #92 closed, assigned to nobody

[2020-04-04 16:14] iou2much opened #102 "Incompatible shapes in MPC stage"
Hi, when I try to use my own data to train MPC model, it got following error after 200 step. Is it due to my data ?
![image](https://user-images.githubusercontent.com/2812471/78455568-b713ec00-76d1-11ea-8bbc-7004cddf7908.png)

[2020-04-04 17:39] studyself opened #103 "call() got an unexpected keyword argument 'training'"
384 [1,0]<stderr>:WARNING:tensorflow:Entity <bound method TensorFlowOpLayer._defun_call of <tensorflow.python.eager.function.TfMethodTarget object at 0x7fda720b4b70>> could not be transformed and will be ex    ecuted as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting

[2020-04-04 17:46] studyself commented on #103
[nohup.20200404-6.log](https://github.com/athena-team/athena/files/4432127/nohup.20200404-6.log)
see the log file attached.

[2020-04-05 04:40] Some-random commented on #102
The length of your input exceeded the max length of encoder positional embedding. Try changing **max_position** in PositionalEncoding to a bigger a value or use **input_length_range** in config json to limit the max length of your input.

[2020-04-05 04:41] Some-random commented on #103
This looks like an issue with TF version. Try upgrading your tensorflow version to 2.0.1 or 2.1.0 and let me know if the problem still exists.

[2020-04-05 08:01] studyself commented on #103
upgrading fix it.
Thanks.

Bob_JIANG <notifications@github.com> 于2020年4月5日周日 下午12:42写道：

[2020-04-06 03:11] iou2much commented on #102
Thank you, @Some-random . It works.
Could you please give some advice about this parameter?
Is it harder to reach the best performance if max_position is larger, i.e. use longer duration audio?
Our data are mostly about 60 seconds.

[2020-04-06 03:14] iou2much commented on #95
Thanks. I'll try

[2020-04-06 03:14] #95 closed, assigned to nobody

[2020-04-06 07:30] lhanzl opened #104 "cuDNN failed to initialize"
806c16f609ef8cec729b118952df2547a01875b9

Hello, genius developer
I am a shenlan student. I installed it according to the instructions. No errors were reported in the middle, and I used the following code to verify that the translation model training is correct.
However, when I train the asr model in the examples/asr/aishell_sub/ directory and run to Fine-tuning, an error is reported.

Traceback (

[2020-04-06 09:39] Some-random commented on #102
Using audios as long as 60 secs isn't recommended because it will take too much GPU memory. In  your case, splitting audio into smaller chunks using VAD first would be a better choice.

[2020-04-06 09:49] Some-random commented on #104
According to your error message, you probably need to upgrade your cudnn version to 7.6.0. Did you use the same cudnn for installation and running?

[2020-04-06 14:02] robinn37 opened #105 "asr decoding is too slow."
The current decoding is much too slow. It almost takes 5 seconds for a single utterance decoding. I found there was a pull request ongoing for the decoding optimization. When will it be merged into master branch?

[2020-04-06 14:03] #105 closed, assigned to nobody

[2020-04-06 14:04] robinn37 commented on #18
When will you merge this update into master?
Currently, in the master branch, It almost takes 5 seconds for a single utterance decoding in average.

[2020-04-07 04:41] iou2much commented on #102
I see. Thank you

[2020-04-07 04:41] #102 closed, assigned to nobody

[2020-04-07 04:43] lhanzl commented on #104
Same cudnn for installation and running.

[2020-04-07 07:32] Some-random commented on #104
Then I think you should upgrade cudnn to 7.6.0 and see if this problem still persists.

[2020-04-07 08:13] enchyisle opened #107 "athena/examples/asr/aishell_sub/run.sh getting config from aishell"
For example:

    python athena/cmvn_main.py \
        examples/asr/aishell/configs/mpc.json examples/asr/aishell/data/all.csv || exit 1

Shouldn't it read/write stuff from aishell_sub?

[2020-04-07 08:25] #99 closed, assigned to nobody

[2020-04-07 08:26] LeoMax-Xiong commented on #98
@leixiaoning `examples/asr/aishell/local/prepare_data.py` haven't update the script utf-8 coding

[2020-04-07 14:55] lhanzl commented on #104
Thank you very much, I installed the cudnn7.6 version by referring to this link,
http://www.tensorfly.cn/tfdoc/get_started/os_setup.html,and this problem is solved.
However, I carefully checked my system. At first, cudnn was not installed, but my installation did not report an error.
I do not know, how did the code (" tensorflow/stream_executor/cuda/cuda_dnn.cc")find cudnn version 7.5 at runtime.

[2020-04-07 15:26] Mitomzhou commented on #107
Yeah, it a bug.  aishell_sub is to solve the problem that a single GPU does not need to install horovod. but u can move run.sh(aishell_sub) to the aishell to run, and then delete aishell_sub.

[2020-04-07 15:34] Mitomzhou opened #108 "TIMIT open wav: wave.Error: file does not start with RIFF id"
When I run prepare_data.py  for TIMIT,  function:  get_wave_file_length(wav_file), I got a error below:
 Traceback (most recent call last):
  File " - examples/asr/timit/local/prepare_data.py", line 116, in <module>
    processor(DATASET_DIR, SUBSET, True, OUTPUT_DIR)
  File " - examples/asr/timit/local/prepare_data.py", line 100, in processor
    convert_audio_and_split_transcript(dataset_dir, su

[2020-04-07 15:51] Mitomzhou commented on #108
`I` find a solution for this problem.
1. pip install sphfile
2. transform wav file by bolow code

[code]

[2020-04-07 16:09] #108 closed, assigned to nobody

[2020-04-07 23:57] iou2much opened #109 "CMVN values gets very large, and the loss of MPC is NaN"
Hi, after I use our own data(10000h) to calculate the cmvn, I find the var is quite large. and the loss of MPC stage is NaN at the very beginning. Do anyone have any idea?

speaker	mean	var
global	[41.53281, 50.375763, 53.979485, 55.0042, 55.01829, 55.294025, 55.537567, 55.66456, 55.297874, 54.5779, 54.301113, 54.04989, 53.69498, 53.33427, 53.045273, 52.622414, 52.82048, 53.421753, 53.865902, 53.8

[2020-04-08 03:35] Some-random commented on #104
Sorry, I'm not an expert on CUDNN and CUDA installation. And IMHO this question is better asked on StackOverflow.

[2020-04-08 03:45] Some-random commented on #109
Variance shouldn't have negative values. It seems like there is something wrong with your cmvn calculation.

[2020-04-08 04:32] LeoMax-Xiong opened #110 "horovod terminated."
[code]

[2020-04-08 05:09] Some-random commented on #110
There isn't enough information in this error log. Can you use single-gpu mode and set **enable_tf_function** to false in config json and post the error message again?

[2020-04-08 05:33] lhanzl commented on #104
OK, Thanks.

[2020-04-08 05:33] #104 closed, assigned to nobody

[2020-04-08 05:41] tjadamlee commented on #109
@Some-random we may have to check that whether there is a bug about global cmvn calculation when the a very lage corpus is used.

[2020-04-08 06:52] LeoMax-Xiong commented on #110
The above is on single-gpu mode and the following log is on `enable_tf_function:false` setting。
[code]
I locate the code position is that:
[code]
about line:74

[2020-04-08 09:50] Some-random commented on #110
Please execute **python athena/main.py xxx.json** first and check whether it fails or not.

[2020-04-08 11:02] LeoMax-Xiong commented on #110
when I run the above command, it occurs the following error:
[code]
And I exec `python setup.py bdist_wheel sdist` and
`python -m pip install --ignore-installed dist/athena-0.1.0*.whl`
Now, `python athena/main.py examples/asr/aishell/configs/mpc.json` run successfuly, but run `examples/asr/aishell/run.sh` **with stage 2** , it also cannot run.

[2020-04-08 11:45] Some-random commented on #110
If stage 2 fails with the same error message, there must be some issue with Horovod. Please check your Horovod installation first.

[2020-04-08 15:08] Mitomzhou opened #112 "thchs30 decode error"
when I run thchs30 (like example aishell), I got an error during decoding ,  but  procedure Fine-turning and Training language model are successful.
error message:

[code]

[2020-04-08 15:17] LuxuryApple opened #113 "error from: pip install -r requirements"
environment: GCC=8.3.0, python=3.7.4
Error:
(venv_athena) (base) root@12e6d012d4d5:~/luxy/athena# pip install -r requirements.txt
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: tensorflow-gpu==2.0.1 in /root/luxy/venv_athena/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (2.0.1)
Requirement already satisfied: sox in /root/luxy/venv_athe

[2020-04-09 02:27] tjadamlee opened #114 "A bug in rnnlm.json in librispeech example"
"dataset_builder": "language_dataset",
  "num_data_threads": 1,
  "trainset_config":{
    "data_csv":"/nfs/cold_project/zhangruixiong/athena_librispeech/examples/asr/librispeech/data/train-speaker-id.trans.csv",
    "input_text_config":{"type":"vocab", "model":"/nfs/cold_project/zhangruixiong/athena_librispeech/examples/asr/aishell/data/vocab"},
    "output_text_config":{"type":"vocab", "model":"/

[2020-04-09 02:29] tjadamlee commented on #114
@cookingbear "/nfs/cold_project/zhangruixiong/athena_librispeech/examples/asr/aishell/data/vocab"
please provide the file under the condition of the experimental environment
@Some-random @cookingbear this should not happen again

[2020-04-09 02:33] Some-random commented on #113
You need to install MPI before installing Horovod.

[2020-04-09 02:35] Some-random commented on #112
We haven't seen errors like this before. What's your TF version? Does this error occur on every speech  you try to decode?

[2020-04-09 02:44] tjadamlee commented on #113
The main problem is about the horovod:
1) about how to install horovod, you can checkout more information from this https://github.com/horovod/horovod#install
2) On the other hand, you can just skip horovod so you can use `athena/main.py` using just one gpu  or one cpu, since horovod is only useful when you are trying to perform multi-gpu/multi-cpu training

[2020-04-09 02:45] tjadamlee commented on #114
please finish this asap @cookingbear @Some-random

[2020-04-09 02:48] cookingbear commented on #114
ok I will check this again

[2020-04-09 02:48] tjadamlee commented on #103
I may close this issue, it seems like this issue has been fixed

[2020-04-09 02:48] #103 closed, assigned to nobody

[2020-04-09 03:19] Mitomzhou commented on #112
-----------------------------------------------------------------------
Thanks for your reply.
I havent't seen error before. I run aishell decoder successfully, and got acc 91%.  The error occur on thchs30 decoder, then got acc 0.01% , but procedure Fine-turning and Training language model  both got acc >90%.  I don't know what happen?  my wav data preparing error?
env:
OS: mint18.3 (ubuntu)
Tenso

[2020-04-09 03:32] Some-random commented on #112
Does this error occur on every audio in test set of thchs30 or only some specific audio?

[2020-04-09 03:50] iou2much commented on #109
Thanks for looking into this.

My data might be quite variant, thousands of speakers and also may have some garbage clips, like noise, music, etc.
Does it matter? @Some-random @tjadamlee

[2020-04-09 03:53] tjadamlee commented on #90
@wangkuiyi thanks for you suggestion about this.
Currently, it seems like that lots of users may suffer from the installation of horovod.

[2020-04-09 03:54] LuxuryApple commented on #113
Thank you very much.

My system environment is:
Linux 4.15.0-43-generic
Python 3.7.4
GCC 8.3.0

Now i have modify the requirement.txt file, and delete horovod.
***************************
tensorflow-gpu==2.0.1
sox
absl-py
yapf
pylint
flake8
tqdm
sentencepiece
librosa
kenlm
jieba
pandas
**************************

But there still have some errors. For example,
Running setup.py install for kenlm ...

[2020-04-09 13:38] LuxuryApple opened #115 "error from kenlm in "pip install -r requirements.txt""
Hi, thanks for your previous suggestion. And i have delete the "horovod" from the requirements.txt file
But i also find another problem. The detail error:
*************************
Building wheel for kenlm (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /home/luxy/demo/venv_athena/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-ins

[2020-04-09 15:16] gongstar1 opened #116 "error from example aishell_sub"
when I run aishell_sub example,  the training procedure terminated exceptionally,  call stack found in log file.

Traceback (most recent call last):
  File "athena/decode_main.py", line 87, in <module>
    decode(jsonfile, n=5, log_file='nohup.out')
  File "athena/decode_main.py", line 65, in decode
    v = tf.reduce_mean(tf.concat(v,axis=0),axis=0)
  File "/opt/python/python-3.8.2/lib/python3.8/s

[2020-04-10 03:31] LuxuryApple commented on #115
Maybe i have found the solution to questions.
The problem is from the version of pip3.

[2020-04-10 03:54] Some-random commented on #115
I did some searching on StackOverflow. It seems your problem is also related to [this](https://askubuntu.com/questions/637014/gcc-error-trying-to-exec-cc1plus-execvp-no-such-file-or-directory).

[2020-04-10 03:55] Some-random commented on #116
Please refer to [this issue](https://github.com/athena-team/athena/issues/80). A pr fixing this problem will be released soon.

[2020-04-10 05:08] iou2much commented on #109
I just did some experiments.

**1.  when I use all the data (3849540 clips) to compute CMVN. It gets:**

[code]
**2. when I use the first million of the clips to compute CMVN. It gets:**
[code]
**3. when I use the latter 2849540 clips to compute CMVN. It gets:**
[code]

In summary, the total counts of clips is 3849540, it gots negative number. Yet the either partial subset seems.
I suspect it migh

[2020-04-10 05:11] Some-random commented on #109
Thank you for spotting this out! We will check this ASAP.

[2020-04-10 05:38] Some-random commented on #109
tf.float32 will cause overflow for huge amounts of data, but the overflow value seems to be inf... Can you please change the dtype of initial_mean and initial_var to tf.float64 and run the 3849540 clips experiment again?

[2020-04-10 06:47] iou2much commented on #109
yes. I just got the result for tf.float64:
[code]

[2020-04-10 07:11] enchyisle opened #118 "decode_main : epoch selection of highest CTCAccuracy taking in rnn epoch as well"
https://github.com/athena-team/athena/blob/3bddf669e97b8b51db0d563d0d89e60690c55d0e/athena/decode_main.py#L43-L49

I suppose this part of code wants to take in lines like this:
INFO:absl:epoch: 24	loss: 6.2964	Accuracy: 0.9983	CTCAccuracy: 0.8945

But it seems to be taking in epochs from rnnlm traininng as well:
INFO:absl:epoch: 0	loss: 8.5147	AverageLoss: 8.3501

As a result, the selected epoch m

[2020-04-10 07:19] enchyisle opened #119 "assert in solver.py and json config makes it not workable for single-GPU envrionments"
https://github.com/athena-team/athena/blob/3bddf669e97b8b51db0d563d0d89e60690c55d0e/athena/solver.py#L54

If only one GPU is available, it's always false.
I had to change it to >= to make it run.

https://github.com/athena-team/athena/blob/3bddf669e97b8b51db0d563d0d89e60690c55d0e/examples/asr/aishell_sub/configs/mtl_transformer_sp.json#L8

I had to change this 2 to 0, too.

[2020-04-10 07:23] Some-random commented on #119
Thank you for spotting this out. We will make a pr to fix it.

[2020-04-10 07:34] Some-random commented on #118
Selecting epoch based on language model logs is definitely wrong. We will make a pr soon that writes the log of different training stages in separate files.

[2020-04-10 07:38] LeoMax-Xiong opened #120 "aishell decode error"
when I run the aishell example and run the following commdan:
[code]

ALL python package as follows:
[code]

[2020-04-10 09:55] iou2much commented on #109
Finally~Case closed . @Some-random @tjadamlee

After I cast the total_num to int64, it gets normal result.

Turns out that in my case the total_num will be 2207758941, which is out of range of signed int32 (-2,147,483,648 ~ 2,147,483,647)

Maybe the dtype should be uint32 at least? or dynamically adapted with the data?

[2020-04-10 13:24] Some-random commented on #120
Please refer to [this issue](https://github.com/athena-team/athena/issues/80). We will make a pr soon to fix this.

[2020-04-10 15:05] sailorbj commented on #97
If the server has 4 gpu, and I want to use only 1. Could I use command like "CUDA_VISIBLE_DEVICES=0 python athena/main.py "?
It seems athena/solver.py gives assert ?

`    @staticmethod
    def initialize_devices(visible_gpu_idx=None):
        """ initialize hvd devices, should be called firstly """
        gpus = tf.config.experimental.list_physical_devices("GPU")
        for gpu in gpus:

[2020-04-11 04:40] jinsongpan opened #122 "run.sh error: script will stop halfway without entering the next stage"
After executing each stage(since stage2), the run.sh script will stop halfway without entering the next stage. And there is no prompt in the log. logs are attached below.
[stage0&stage1.log](https://github.com/athena-team/athena/files/4464042/stage0.stage1.log)
[stage4.log](https://github.com/athena-team/athena/files/4464043/stage4.log)
[stage3.log](https://github.com/athena-team/athena/files/4464

[2020-04-11 04:46] jinsongpan commented on #119
what does ""solver_gpu" mean? why should "assert len(gpus) > len(visible_gpu_idx)"?

[2020-04-11 15:22] gongstar1 commented on #112
I got some issue, modified as below, it works, may be the tensorArray is not sync.
history_predictions = history_predictions.write(0, last_predictions)

[2020-04-11 15:56] Some-random commented on #119
It means the gpu indexes used to train the model. We added this assertion to make sure number of gpus you want to use must be more than number of gpus available.

[2020-04-11 17:10] Mitomzhou commented on #112
I solved the problem with your advice. Thanks.

[2020-04-11 17:10] #112 closed, assigned to nobody

[2020-04-12 03:07] #98 closed, assigned to nobody

[2020-04-12 03:12] LuxuryApple opened #124 "error from nohup.txt"
Thanks for your previous suggestion.
I have change the GPU Server, and install the athena successfully.
I also choose 5% of total data. But there are still some questions.
The detailed errors are as follows:

INFO:absl:processing S0015
^M  0%|          | 0/1936 [00:00<?, ?it/s]2020-04-12 10:49:57.276320: W tensorflow/core/framework/op_kernel.cc:1622] OP_REQUIRES failed at decode_wav_op.cc:55 : Inv

[2020-04-12 03:47] Some-random commented on #124
Root cause of the error is 'Data too short when trying to read string', which means some of the wav files in your training data is too short for our feature extractor to process or there is some non-wave files in your training data.

[2020-04-12 03:59] Some-random commented on #122
We have experienced similar problems when training with Horovod and we're still trying to figure out the root cause of it.

One temporary solution that works is to execute training commands inside [screen](https://www.thegeekdiary.com/how-to-use-the-screen-command-in-linux/) instead of nohup.

[2020-04-12 04:06] LuxuryApple commented on #124
But i download the data from "www.openslr.org/resources/33/data_aishell.tgz".  And i did not change the data.  Do i download the data again?

[2020-04-12 05:08] jinsongpan commented on #122
thanks for your advice. I suspected it caused by the version conflict between tf2, cudnn and CUDA. so I strictly follow tf's official recommended configuration to run the script(used: tf2.0+cuda10.0+cudnn7.6 -> now:  tf2.1+cuda10.0+cudnn7.4). if the test is finished, I'll share the result here.

[2020-04-12 05:09] studyself opened #125 "Using GPU for training, and CPU for decoding, Can we?"
It's very slow during decoding for AISHELL task.
It seems that only 1 GPU is chosen to perform decoding.
However, I have got 32 CPU kernels.
How to use CPUs for decoding and make it faster?
_______
athena/examples/asr/aishell/configs/mtl_transformer_sp.json:
  "solver_gpu":[0],
  "solver_config":{
    "clip_norm":100,
    "log_interval":10,
    "enable_tf_function":true

[2020-04-13 01:46] LeoMax-Xiong opened #129 "no test dataset cer result"
https://github.com/athena-team/athena/blob/1b535ad2a5eb278dc827273958f26bbbeb73346f/athena/solver.py#L162

In the decode process,  athena print all single line cer/wer。But after decoding, it doesn't print the cer over the all dataset。
I think athena should print the dataset cer before the following line:
[code]
Or maybe I do not find the correct cer position in the nohup.out????

[2020-04-13 01:47] #120 closed, assigned to nobody

[2020-04-13 01:50] LeoMax-Xiong commented on #112
I meet many errors with tensorflow==2.1.0, But with little errors with tensorflow==2.0.1 as the requirements。

[2020-04-13 03:48] Some-random commented on #129
The avg_acc in decoding log means the average accuracy over all test wav files decoded. So the accuracy over the whole test set is basically the last avg_acc printed by decode_main.

[2020-04-13 03:50] Some-random commented on #129
@cookingbear please add a more explicit message for accuracy over the whole test set.

[2020-04-13 03:52] Some-random commented on #124
Your data should be ok if it's downloaded from openslr. Can you set batch_size to 1 and print wav names in the process of computing cmvn and check which specific wav file is causing this problem?

[2020-04-13 04:11] Some-random commented on #112
This should be a bug on our end. It seems like TensorArray.write did a default copy under tf 2.0.1 (which is what we intended to do) and this behavior is fixed for tf 2.1.0. We will make a pr to fix it.

[2020-04-13 08:15] taichuai opened #130 "zip(*entries)"
the 104th line:" _, _, all_transcripts, _ = zip(*entries)"  in athena/data/datasets/speech_recongnition.py may cause erro in some cases, so 'entries = self.entries' need be added to avoid it

[2020-04-13 09:10] taichuai opened #131 "can i change the device to gpu when computeing cmu features"
`        feature_dim = self.audio_featurizer.dim * self.audio_featurizer.num_channels
        with tf.device("/cpu:0"):
            self.feature_normalizer.compute_cmvn(
                self.entries, self.speakers, self.audio_featurizer, feature_dim
            )
        self.feature_normalizer.save_cmvn()
        return self
`

in the "compute_cmvn_if_necessary" function of athena/data/datasets/s

[2020-04-13 09:27] tjadamlee commented on #130
thank for pointing out, we will check, @Some-random please ask shuaijiang to solve this

[2020-04-13 10:16] hanqichen opened #132 "Invalid argument: WAV data chunk 'QWDu' is too large"
When I train pretrain stage with thchs30 dataset, an error occured:

[1,1]<stderr>:2020-04-13 18:04:15.424272: W tensorflow/core/framework/op_kernel.cc:1622] OP_REQUIRES failed at decode_wav_op.cc:55 : Invalid argument: WAV data chunk 'QWDu' is too large: 3667229085 bytes, but
 the limit is 2147483647
[1,1]<stderr>:2020-04-13 18:04:15.424419: W tensorflow/core/common_runtime/base_collective_execut

[2020-04-13 10:23] iou2much commented on #131
similar to #95
There's a PR for compute it parallel with CPU. You can look into that.
https://github.com/athena-team/athena/pull/117

[2020-04-13 11:46] Some-random commented on #132
@aishinchi please take a look at this. And @hanqichen can you identify which specific wave file is causing this error?

[2020-04-13 11:52] Some-random commented on #132
Well, a simple search on Google gave me the following [issue](https://github.com/mozilla/DeepSpeech/issues/2271). Seems like we need special ways to read certain wave files in thchs30 dataset. Can you also take a look at this @aishinchi ?

[2020-04-13 11:58] Some-random commented on #131
Changing device to GPU probably won't accelerate cmvn computation because GPU is good at parallel computation when all input data is prepared. But in our case we need to perform feature extraction sequentially for all wave files.

[2020-04-13 12:02] hanqichen commented on #132
I add log print `audio_file`  before
https://github.com/athena-team/athena/blob/b26e30bde9a1f6216fea93642d7eb09ff905bef6/athena/data/datasets/speech_set.py#L107

The log printing is
[nohup.out.txt](https://github.com/athena-team/athena/files/4469390/nohup.out.txt)

[2020-04-13 12:05] Some-random commented on #130
@taichuai can you tell us more about the error you found? Like in which cases the code will fail?

[2020-04-13 12:21] hanqichen commented on #132
Thanks , I will try solution form this [issue](https://github.com/mozilla/DeepSpeech/issues/2271).

[2020-04-13 12:22] aishinchi commented on #132
Maybe you can try to use `ffmpeg -i "$name" -c:a copy "tmp/$name"` as [https://github.com/mozilla/DeepSpeech/issues/2271](issue) ?

[2020-04-13 14:38] hanqichen commented on #132
It's work for this, Thanks

[2020-04-14 02:17] taichuai commented on #131
ok, I knew, it sounds great for this problem! Did you have a try about using multithread computation

[2020-04-14 02:17] taichuai commented on #131
OK, Thanks for your reply

[2020-04-14 02:24] taichuai commented on #130
def preprocess_data(self, file_path):
        """ Generate a list of tuples (wav_filename, wav_length_ms, transcript speaker)."""
        logging.info("Loading data from {}".format(file_path))
        with open(file_path, "r", encoding="utf-8") as file:
            lines = file.read().splitlines()
        # 获取csv表头,wav_filename    wav_length_ms   transcript  speaker
        headers = lines[0]

[2020-04-14 08:51] xbsdsongnan opened #136 "more GPU error and one gpu error too"
1. 4 gpu :unknown:ncclcomminitrank failed :unhandled system error
2.1gpu :ran out of memory trying to allocate 2.57GiB

[2020-04-14 12:39] placebokkk opened #138 "cmvn_main.py error"
While runing athena/cmvn_main.py， I get below error. For some of my GPU is busy.

[code]

To solve this, I need to add
[code]

[2020-04-14 13:35] leospark opened #139 "'ssh: Could not resolve hostname localhost:4: Temporary failure in name resolution' when 'Fine tunning' in run.sh"
i found a problem when running run.sh to 'Fine tunning', which is as follow:
`ssh: Could not resolve hostname localhost:4: Temporary failure in name resolution`

It seems horovod led to this problem, how can I solve this problem? i will appreciate it for any advice.

[2020-04-14 14:49] #138 closed, assigned to nobody

[2020-04-14 15:24] leospark commented on #139
answer: 升级open mpi包  sudo apt-get install openmpi-bin openmpi-doc libopenmpi-dev

[2020-04-14 15:24] #139 closed, assigned to nobody

[2020-04-14 15:30] Some-random commented on #136
Issue 1 is related to NCCL installation.
Issue 2 means batch size is too big for your GPU.

[2020-04-14 15:40] LeoMax-Xiong opened #140 "please using logging module"
https://github.com/athena-team/athena/blob/c3375c09667daaad5b233cc9bc17fd1f9a840e30/athena/decode_main.py#L50

In this decode_main.py, only using logging in the line 75 and line 77, but other logging info uses the `print`。I suggest that all the logging info should using logging module and configure the logging configuration in the some *.json。

[2020-04-15 02:30] tjadamlee opened #141 "Add a markdown document for wer"
store in athena/doc/wer_are_we
we can reference to https://github.com/syhw/wer_are_we, but we add more information related to Mandarin Chinese corpus and github opensource results other than paper

[2020-04-15 02:32] tjadamlee commented on #136
To run on GPUs with NCCL:

$ HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_BROADCAST=NCCL pip install horovod

more information can be checked in https://github.com/horovod/horovod

[2020-04-15 03:26] LeoMax-Xiong commented on #141
This benchmark will arise a more attractive thing around athena for Mandarin Chinese CORPUS

[2020-04-15 09:09] Some-random commented on #141
@neneluo let's work together on this

[2020-04-15 09:13] neneluo commented on #141
Sure.

[2020-04-16 00:52] xbsdsongnan commented on #136
now,we use only one gpu for horovodrun ,horovodrun -np 1 -H localhost:2,this is ok. but we use two gpu for training, Read -1,expected 1638400,errno = 1,the training is ok too. when we use four gpu, unknown:ncclcomminitrank failed :unhandled system error.

[2020-04-16 00:58] xbsdsongnan commented on #136
now,we use only one gpu for horovodrun ,horovodrun -np 1 -H localhost:1,this is ok. but we use two gpu for training, Read -1,expected 1638400,errno = 1,the training is ok too. when we use four gpu, unknown:ncclcomminitrank failed :unhandled system error.

[2020-04-16 03:57] tjadamlee commented on #140
we will update in https://github.com/athena-team/athena/pull/144

[2020-04-16 03:58] tjadamlee commented on #130
we have updated in PR#133

[2020-04-16 09:54] LeoMax-Xiong opened #145 "batch or iteration"
https://github.com/athena-team/athena/blob/6d85def4dc84aa8470e186dcb8359062a2e1e4bd/athena/solver.py#L85

When I read the script, I think the meaning of `batch` is equal to `iteration`。If it equals to `iteration`，I suggest that it can replace `batch` with `iteration`。

And when I read the mpc script, could author give the reference paper。
https://github.com/athena-team/athena/blob/6d85def4dc84aa84

[2020-04-17 01:37] tjadamlee commented on #145
batch related to minibatch.
About reference paper information, we will make it more clear in the near future.
In athena, each time, when we need the information from jsonfile, we may parse again so that we can make each function more independent against others

[2020-04-17 01:58] tjadamlee opened #146 "Add TIMIT experimental results"

[2020-04-17 02:12] vincentge1986 opened #147 "Error occures when sentencepiece load model file in horovod mode"
**1. in Horovod mode, that is,  horovod_main.py is executed,  line 114 "self.sp.Load(spm_file)" in text_featurizer.py get below errors:**

[1,0]<stderr>:[libprotobuf FATAL external/com_google_protobuf/src/google/protobuf/stubs/common.cc:86] This program was compiled against version 3.6.1 of the Protocol Buffer runtime library, which is not compatible with the installed version (3.8.0).  Contact th

[2020-04-17 02:55] vincentge1986 commented on #147
**More info:
if comment line 114 "self.sp.Load(spm_file)" in text_featurizer.py in horovod mode,  horovod_main.py can run smoothly withou error,  get logs as below:**

_[1,0]<stderr>:INFO:absl:global_steps: 1 learning_rate: 1.1180e-08       loss: -0.4852   Accuracy: nan   CTCAccuracy: nan
[1,0]<stderr>:INFO:absl:global_steps: 11        learning_rate: 1.2298e-07       loss: -0.4852   Accuracy: nan

[2020-04-17 02:58] vincentge1986 commented on #147
**More info:
if comment line 114 "self.sp.Load(spm_file)" in text_featurizer.py in horovod mode, horovod_main.py can run smoothly withou error, get logs as below:**

_[1,0]:INFO:absl:global_steps: 1 learning_rate: 1.1180e-08 loss: -0.4852 Accuracy: nan CTCAccuracy: nan
[1,0]:INFO:absl:global_steps: 11 learning_rate: 1.2298e-07 loss: -0.4852 Accuracy: nan CTCAccuracy: nan sec/iter: 0.3472
[1,0]:INF

[2020-04-17 03:10] vincentge1986 commented on #147
**Howevers something is werid that if run my test.py in horovod mode as below, no error:**
_(venv_tf_v2)  horovodrun -np 4 -H localhost:4 python test.py
[1,0]<stdout>:Done: 5000
[1,1]<stdout>:Done: 5000
[1,2]<stdout>:Done: 5000
[1,3]<stdout>:Done: 5000_

**my test.py code:**
_import sentencepiece as spm
sp = spm.SentencePieceProcessor()
sp.Load("thuyg_20_unigram5000.model")
print("Done:", sp.GetPi

[2020-04-17 03:15] Some-random commented on #147
@cookingbear please take a look at this. Is this the error that occurs when using Horovod and sentencepiece together?

[2020-04-17 03:18] JianweiSun007 commented on #147
@vincentge1986 hi，protobuf maybe should reinstall, maybe this can help you https://github.com/BVLC/caffe/issues/5711

[2020-04-17 03:27] vincentge1986 commented on #147
Correct, without horovod, everything is good, that is, "horovod_cmd" and "horovod_prefix" are commented in run.sh as below :
#horovod_cmd="horovodrun -np 1 -H localhost:1"
#horovod_prefix="horovod_"
then the training goes smoothly as expected.

[2020-04-17 04:32] vincentge1986 commented on #147
Thanks for your reply. However it still doesn't work after reinstall protobuf:
pip uninstall protobuf
pip install protobuf
AND:
apt-get remove --purge libprotobuf-dev
apt-get install  libprotobuf-dev

[2020-04-17 07:00] iou2much opened #148 "acc turns into zero in the middle"
![image](https://user-images.githubusercontent.com/2812471/79541271-19022780-80bc-11ea-888b-3d1d459854b6.png)

[2020-04-17 08:36] iou2much commented on #148
again...
![image](https://user-images.githubusercontent.com/2812471/79549397-8072a400-80c9-11ea-8ee9-c6fe5d430684.png)

[2020-04-18 06:30] iou2much commented on #125
just disable GPU when decoding like this
`        export CUDA_VISIBLE_DEVICES="-1"`
yet still..it's quite slow

[2020-04-19 03:27] Some-random commented on #148
Your learning rate is probably too high. Try to use a smaller k in optimizer_config

[2020-04-20 01:51] iou2much commented on #148
Thank you.

[2020-04-20 01:52] #148 closed, assigned to nobody

[2020-04-20 03:15] tjadamlee commented on #146
the dataset can be downloaded from https://github.com/philipperemy/timit

[2020-04-20 06:32] tjadamlee commented on #136
@xbsdsongnan This is related to the horovod, maybe you can check out more information from like https://github.com/horovod/horovod/issues/1195

[2020-04-23 05:26] Some-random commented on #129
Leave this issue open. We will make a pr to show CER explicitly with sclite.

[2020-04-23 05:31] Some-random commented on #75
Keeping this issue open. This is still a bug.

[2020-04-23 05:33] #84 closed, assigned to nobody

[2020-04-23 05:36] Some-random commented on #147
Keeping this issue open, this should be a bug.

[2020-04-23 15:08] vincentge1986 commented on #147
More info：
OS：Ubuntu 18.04 Server Version NOT Desttop version
libprotobuf-dev：3.6.1

[2020-04-23 15:09] vincentge1986 commented on #147
More info：
OS：Ubuntu 18.04 Server Version NOT Desktop version
libprotobuf-dev：3.6.1

[2020-04-23 15:15] 8z8z8z commented on #147
This is a script for auto install horovod in centos and maybe helpful for you
https://github.com/8z8z8z/athena/blob/master/tools/build_horovod_centos_env.sh

[2020-04-23 15:18] JianweiSun007 commented on #93
This is a script for auto install horovod in centos and may help you
https://github.com/8z8z8z/athena/blob/master/tools/build_horovod_centos_env.sh

[2020-04-23 15:22] JianweiSun007 commented on #110
Your horovod env maybe install  installation errors. This is a script for auto install horovod in centos and may help you
https://github.com/8z8z8z/athena/blob/master/tools/build_horovod_centos_env.sh

[2020-04-23 15:25] JianweiSun007 commented on #136
@xbsdsongnanThis is a script for auto install horovod in centos and maybe help for you
https://github.com/8z8z8z/athena/blob/master/tools/build_horovod_centos_env.sh

[2020-04-23 15:35] JianweiSun007 commented on #75
This is a script for auto install horovod in centos and may help you
https://github.com/8z8z8z/athena/blob/master/tools/build_horovod_centos_env.sh

[2020-04-23 15:39] JianweiSun007 opened #160 "@All, if you have any problem about horovod, please into this issue and I will try to help you"
This is a script for auto install horovod in centos and may help you
https://github.com/8z8z8z/athena/blob/master/tools/build_horovod_centos_env.sh

[2020-04-26 03:41] sigpro opened #161 "why update aishell‘s wer?"
Hi,I found that aishell's wer update from 5.77 to 6.6,what's the problem of  the result with 5.77.
Thanks for your work.

[2020-04-26 03:50] Some-random commented on #161
Because we made a mistake by setting the **max_length** of AISHELL test set to 8000 (8 seconds) during decoding, but about 6% of AISHELL test set are longer than 8 seconds. Adding these back increases the overall WER.

[2020-04-26 04:31] #77 closed, assigned to nobody

[2020-04-26 04:31] #79 closed, assigned to nobody

[2020-04-26 04:31] #88 closed, assigned to nobody

[2020-04-26 04:31] #107 closed, assigned to nobody

[2020-04-26 04:31] #114 closed, assigned to nobody

[2020-04-26 04:31] #113 closed, assigned to nobody

[2020-04-26 04:31] #116 closed, assigned to nobody

[2020-04-26 04:31] #115 closed, assigned to nobody

[2020-04-26 04:31] #118 closed, assigned to nobody

[2020-04-26 04:31] #109 closed, assigned to nobody

[2020-04-26 04:31] #97 closed, assigned to nobody

[2020-04-26 04:31] #119 closed, assigned to nobody

[2020-04-26 04:31] #124 closed, assigned to nobody

[2020-04-26 04:31] #122 closed, assigned to nobody

[2020-04-26 04:31] #131 closed, assigned to nobody

[2020-04-26 04:31] #132 closed, assigned to nobody

[2020-04-26 04:31] #140 closed, assigned to nobody

[2020-04-26 04:31] #130 closed, assigned to nobody

[2020-04-26 04:31] #141 closed, assigned to Some-random, neneluo

[2020-04-26 04:31] #145 closed, assigned to nobody

[2020-04-26 07:30] #125 closed, assigned to nobody

[2020-04-28 02:42] xinedison commented on #18
Dr, Li,
@tjadamlee  If there are several gpu on my machine, could I speed up the decoding processing by adding a MultiDeviceDecoderSolver based on DecoderSolver?
 And speed up the decode process in a data parallel Mode.

[2020-05-01 16:59] #136 closed, assigned to nobody

[2020-05-01 16:59] #110 closed, assigned to nobody

[2020-05-01 16:59] #93 closed, assigned to nobody

[2020-05-01 16:59] #160 closed, assigned to nobody

[2020-05-04 04:48] #161 closed, assigned to nobody

[2020-05-04 14:59] leohuang2013 opened #164 "Athena got error when training aishell dataset"
When I was training aishell dataset, during decode stage, I got following error
![Wechat_decode](https://user-images.githubusercontent.com/4549946/80979253-afbf3a00-8e59-11ea-9671-c1c37a738fde.jpeg)

nohup.txt shows that, it was keeping show above message for whole night, therefore it made me to force kill it.

The tensorflow-gpu version 2.1.0. The reason I used version 2.1.0 is that, version 2.0.

[2020-05-04 17:29] Some-random commented on #164
Our TF version has been bumped to 2.0.1 in this [pr](https://github.com/athena-team/athena/pull/43). Can you please try 2.0.1 and let us know if it works?

[2020-05-05 00:04] leohuang2013 commented on #164
I also tried 2.0.1, same thing here as shown below,
![Screenshot from 2020-05-06 08-01-48](https://user-images.githubusercontent.com/4549946/81024719-ea9b8f00-8ea6-11ea-80b8-91cdf25a708f.png)

[2020-05-06 03:37] tjadamlee commented on #164
@leo1980 please post some log when you run "python setup.py bdist_wheel sdist", so we can find out where these errors come from

[2020-05-14 03:55] tjadamlee opened #169 "Try sparse softmax"
@neneluo reference to "Structured Sparse Attention for end-to-end Automatic Speech Recognition"，please try to implement

[2020-05-14 05:41] #164 closed, assigned to nobody

[2020-05-14 06:18] neneluo commented on #169
Sure

[2020-05-19 03:51] #129 closed, assigned to nobody

[2020-05-19 04:03] Some-random commented on #21
We implemented CER/WER computation with sclite. Please help us review it at [https://github.com/athena-team/athena/pull/170](url)

[2020-05-30 05:31] tjadamlee commented on #169
seems like it is not useful

[2020-05-30 05:31] #169 closed, assigned to neneluo

[2020-05-30 05:31] tjadamlee opened #181 "redesign the code for sclite"
@leixiaoning @neneluo

[2020-05-31 05:00] neneluo commented on #181
👌

[2020-06-03 12:49] Some-random commented on #74
Closing this issue for now. Please reopen it if there exists further question.

[2020-06-03 12:49] #74 closed, assigned to Some-random

[2020-06-03 14:44] Some-random commented on #21
This issue has been addressed with [this pr](https://github.com/athena-team/athena/pull/170) and [this pr](https://github.com/athena-team/athena/pull/185). Closing this issue for now. Please reopen it if further question exists.

[2020-06-03 14:44] #21 closed, assigned to chenguoguo

[2020-06-08 06:16] #181 closed, assigned to nobody

[2020-07-10 07:38] ExpressGit opened #204 "horovod with tensorflow 2.0"
![ed4c0f8135a30c6c6c5bb011d9d409b](https://user-images.githubusercontent.com/11694747/87129033-42011580-c2c3-11ea-93c7-afaaa8159a6c.png)

tensorflow 2.0 alreay installed
but horovod not found tensorflow
please help me

[2020-07-10 07:39] ExpressGit opened #205 "horovod with tensorflow 2.0"
![ed4c0f8135a30c6c6c5bb011d9d409b](https://user-images.githubusercontent.com/11694747/87129164-7d034900-c2c3-11ea-9084-40dd0469f1ef.png)
tensorflow 2.0 alreay installed
but horovod not found tensorflow
please help me

[2020-07-10 11:11] ExpressGit opened #206 "TypeError: Cannot iterate over a scalar tensor."
params:
hparams: [('audio_config', {'type': 'Fbank', 'filterbank_channel_count': 40}), ('cls', <class 'athena.data.datasets.speech_set.SpeechDatasetBuilder'>), ('cmvn_file', 'examples/asr/aishell/data/cmvn'), ('data_csv', 'examples/asr/aishell/data/dev.csv'), ('input_length_range', [10, 8000]), ('num_cmvn_workers', 1)]
[1,2]<stdout>:Fbank params:  [('channel', 1), ('cls', <class 'athena.transform.

[2020-07-10 13:13] Some-random commented on #206
Please tell us which script are you running and how did you run it.

Judging by the log, you've already finished evaluating but encountered problem during metrics updating, is that correct?

[2020-07-10 13:16] Some-random commented on #205
Same as [https://github.com/athena-team/athena/issues/205](url)

[2020-07-10 13:16] #205 closed, assigned to nobody

[2020-07-10 13:24] Some-random commented on #204
horovod.tensorflow is basically the TF API of horovod, so it belongs to package horovod. Please check your horovod installation first. We also have [recipes](https://github.com/athena-team/athena/blob/master/examples/asr/aishell_sub/run.sh) that doesn't require horovod, feel free to try that one~

[2020-07-10 15:28] ExpressGit commented on #206
script path:  examples/ai_shell/run,sh
step : pretraining
wrong code: loss, metrics = solver.evaluate(devset, epoch)

[2020-07-10 15:39] ExpressGit commented on #204
thanks , the problem has been solve.

[2020-07-10 15:39] #204 closed, assigned to nobody

[2020-07-10 15:43] ExpressGit commented on #206
add infomation how to run this script

![image](https://user-images.githubusercontent.com/11694747/87172504-ece6f300-c306-11ea-91c0-2650e39de2dd.png)

[2020-07-11 06:40] ExpressGit commented on #206
the problem has been solve.
fix solution:
1、file path: athena/athena/utils/solver.py
2、evaluate function add another return value. eg:
![image](https://user-images.githubusercontent.com/11694747/87218343-4b05eb80-c384-11ea-93df-2169cb028af0.png)

`return loss_metric.result()  ---> return loss_metric.result(), metrics`

@Some-random  thanks,please fix this bug

[2020-07-11 14:29] Some-random commented on #206
Thanks for spotting this bug out! We've made a [pr](https://github.com/athena-team/athena/pull/207) to fix this.

[2020-07-11 14:42] Some-random commented on #18
This issue have been resolved by this [pr](https://github.com/athena-team/athena/pull/177/files) and this [pr](https://github.com/athena-team/athena/pull/180/files). Closing it for now.

[2020-07-11 14:42] #18 closed, assigned to cookingbear

[2020-07-13 01:15] #206 closed, assigned to nobody

[2020-07-13 12:11] HalFTeen opened #208 "what does "inner_packed_states" mean in the athena-decode?"
I have seen the explanation: "inner states need to be record, type: tuple". Are there any other role except for recording the innner states？ Because I found it can still get the correct result without the parameter. looking forword to your reply. THX.

[2020-07-13 12:32] Some-random commented on #208
inner_packed_states records current decoding step, which is basically the number of characters in decoding candidate sequence

[2020-07-13 12:42] HalFTeen commented on #208
Thank you very much. So, that means the parameter can be removed  if I have another parameter to judge whether decoder is end, right?

[2020-07-13 12:46] Some-random commented on #208
Yes

[2020-07-14 06:28] ExpressGit opened #209 "how to deploy asr model service by python flask?"
how to deploy asr model service by python flask?

[2020-07-14 10:01] Some-random commented on #209
The use of flask and python-based deployment is beyond the scope of this project

[2020-07-16 01:57] HalFTeen opened #214 "Efficiency of openfst-python"
I want to build my own LG with the scripy "pydecoders/build_graph_main.py" .  4233 Chinese character compose the graphme.txt, 123728 words compose the lexicon.txt, my arpa file is 557M. I have executed the script for 956 minutes and 116G of memory till now.    I don't kown how much longer and how much memory if run the scripy. Or am I  wrong somewhere? Are you experienced about openfst-python in t

[2020-07-16 05:32] Some-random commented on #214
We haven't seen situations like yours before. Maybe @godjealous can help look into this?

[2020-07-16 11:25] ExpressGit opened #215 "beam search decode so slow"
beam search decode so slow?
how to optimizing this problem

[2020-07-16 11:29] Some-random commented on #215
@cookingbear addressed decoding speed in previous pr. @cookingbear please help @ExpressGit with this problem

[2020-07-17 01:23] ExpressGit commented on #215
Where did I locate the problem:
1、File: tools/beam_search.py      Funciotn: __call__
2、Too many iterations
3、beam search score Calculate slow
![image](https://user-images.githubusercontent.com/11694747/87737900-ba5d5e80-c80e-11ea-95f3-9ccb0b5c8447.png)

[2020-07-17 05:32] cookingbear commented on #215
Iterations are not the issue.
Beam search may use ctc scorer and currently it will dramatically slow down the decoding speed. However, we will update this part shortly.
You can also use horovod_decode_main.py to utilize multiple gpus for decoding.

[2020-07-17 07:59] ExpressGit commented on #215
The decode component consists of RNN Model and CTC decode.
I have removed CTC deocde,only use RNN model decode . and also  update the beam size.
Decode speeds up to four times faster.the error Rate will be higher

[2020-07-18 12:34] zcy618 opened #218 "ModuleNotFoundError: No module named 'pydecoders'"
hi friends:
when I run below command:

python athena/main.py examples/translate/spa-eng-example/transformer.json

there is one error as below:

(athena-train-env) parallels@parallels-Parallels-Virtual-Platform:~/Desktop/asr/athena$ python athena/main.py examples/translate/spa-eng-example/transformer.json
There is some problem with your horovod installation. But it wouldn't affect single-gpu traini

[2020-07-19 01:24] Some-random commented on #218
You can find installation guide for pydecoder [here](https://github.com/athena-team/athena-decoder#installation). We will update this requirement in README soon.

[2020-07-19 02:24] tjadamlee commented on #218
@Some-random we should update this "from pydecoders import WFSTDecoder " like that horovod, use "try"

[2020-07-21 09:45] ExpressGit opened #221 "x_ops.so: undefined symbol"
1、python3 setup.py bdist_wheel sdist  success
2、python3 -m pip install  dist/athena-0.1.0*.whl  success
3、generate x_ops.so file  success
error info:
tensorflow.python.framework.errors_impl.NotFoundError: /athena/athena/transform/feats/ops/x_ops.so: undefined symbol: _ZTIN10tensorflow8OpKernelE
![image](https://user-images.githubusercontent.com/11694747/88039321-fd566380-cb79-11ea-819e-eb934323e6d

[2020-07-21 14:48] #208 closed, assigned to nobody

[2020-07-22 04:24] Some-random commented on #221
This looks like an issue with TF version. What's your TF version?

[2020-07-22 10:22] #209 closed, assigned to nobody

[2020-07-24 06:25] #214 closed, assigned to nobody

[2020-07-25 09:56] #215 closed, assigned to nobody

[2020-07-27 03:50] #218 closed, assigned to nobody

[2020-07-27 06:53] #146 closed, assigned to tjadamlee, neneluo

[2020-07-27 06:54] #90 closed, assigned to barius

[2020-07-29 07:07] zcy618 opened #224 "python: can't open file 'CUDA_VISIBLE_DEVICES=': [Errno 2] No such file or directory"
when I run the shell:
./examples/asr/aishell/run.sh

I got an error:
INFO:absl:Finished processing AISHELL subset test
Computing cmvn
python: can't open file 'CUDA_VISIBLE_DEVICES=': [Errno 2] No such file or directory

what should I do please? Or do I miss something?
Thanks.

[2020-07-29 07:20] Some-random commented on #224
"CUDA_VISIBLE_DEVICES=" should be placed before python. Thanks for spotting this bug out

[2020-07-29 08:08] zcy618 opened #226 "how many DDR memory is needed?"
dear friends:
I am trying to train aishell data to see our athena's performance, but I found that it really consume so much ddr memory, I have one server which has 128G memory, I notice that it will use them out of all for about 130 globale steps training, I think maybe it is one issue that it should not catch so much memory always, it is better that it can use memory repeatly. Or not, whatever ho

[2020-07-29 09:59] zcy618 commented on #226
hi，I also test gpu solution, I found it has the same issue as below:
[1,0]<stderr>:INFO:absl:global_steps: 431       learning_rate: 6.3888e-05       loss: 12.6846   AverageLoss: 12.8970    sec/iter: 2.7099
[1,1]<stderr>:2020-07-29 17:49:26.457662: W tensorflow/core/common_runtime/bfc_allocator.cc:419] Allocator (GPU_0_bfc) ran out of memory trying to allocate 20.75MiB (rounded to 21757952).  Curre

[2020-07-29 10:21] zcy618 commented on #226
I decrease batch size firstly, hoping it could work.
Thanks.

[2020-07-29 10:31] zcy618 commented on #226
it works

[2020-07-29 10:31] #226 closed, assigned to nobody

[2020-07-29 10:31] #224 closed, assigned to nobody

[2020-07-30 01:38] ExpressGit commented on #221
TF version:2.0.0
the problem has been solved
recompile the code:
1、python3 setup.py bdist_wheel sdist success
2、python3 -m pip install dist/athena-0.1.0*.whl success

[2020-07-30 01:38] #221 closed, assigned to nobody

[2020-08-05 02:54] zcy618 opened #227 "how to understand the input and output data"
Dear friends:
Could I ask one basic question please? I notice the input shape is (4, xxx, 40, 1), the output shape is (4,), like below:
{'input': <tf.Tensor: id=72353, shape=(4, 204, 40, 1), dtype=float32,.........
'input_length': <tf.Tensor: id=72362, shape=(4,), dtype=int32, numpy=array([204, 204, 204, 204],.....

'output': <tf.Tensor: id=72356, shape=(4, 204, 40), dtype=float32,
'output_length'

[2020-08-05 04:23] Some-random commented on #227
What's the task you're running? If it's MPC, the shape of input and output should be the same

[2020-08-05 05:23] zcy618 commented on #227
yes, it is the default of MPC, why it should be the same?
Thanks

[2020-08-05 06:12] Some-random commented on #227
Because the target of MPC is the masked part of input speech feature, we have some logic in the code to only calculate the loss between masked input feature and output of Transformer encoder

[2020-08-06 00:00] zcy618 commented on #227
hi, interesting, do you have some paper or introduction to explain why you process it like this please? BTW, after the output, I think there should be one step to align the output and the utf-8 code(such as "你好")， could I know how you process it please?
I just new one to your anthena, sorry for simple questions.
Thanks

[2020-08-06 02:51] Some-random commented on #227
You can checkout our paper here: https://arxiv.org/pdf/1910.09932.pdf.

To run ASR model, you can just skip step3 and run step4 of [the ASR pipeline](https://github.com/athena-team/athena/blob/master/examples/asr/README.md)

[2020-08-09 06:24] zcy618 opened #230 "decode error"
Dear friends:
when I run aishell asr step 5:
if [ ${stage} -le 5 ] && [ ${stop_stage} -ge 5 ]; then
    # decoding stage
    echo "Running decode ..."
    python athena/decode_main.py \
        examples/asr/aishell/configs/mtl_transformer_sp.json > decode.log || exit 1
fi

I meet below error:

INFO:absl:Loading data from examples/asr/aishell/data/train.trans.csv
100%|██████████████████████████████

[2020-08-10 08:31] Some-random commented on #230
The argument in config for beam search has been changed in a previous [pr](https://github.com/athena-team/athena/pull/201), please change **"beam_search":true** in config to **"decoder_type":"beam_search_decoder"** for now.

We will revise these configs later when we decide how to combine wfst graph creation and wfst decoding together.

[2020-08-10 14:14] fming opened #232 "miss "," at line 48 of athena/main.py"

[2020-08-10 14:28] fming opened #233 "show killed when run the code "Test your installation""
try to run this test code:

source tools/env.sh
python examples/translate/spa-eng-example/prepare_data.py examples/translate/spa-eng-example/data/train.csv
python athena/main.py examples/translate/spa-eng-example/transformer.json

it shows:

please be patient, enable tf.function, it takes time ...
killed

it seems it is terminated unexpectedly.

[2020-08-10 14:43] Some-random commented on #233
This seems like an OOM problem, have you noticed your memory grow unexpectedly?

[2020-08-11 03:32] fming commented on #233
Thanks! you're right, when I enlarge the RAM from 2 G to 4G, then it works.

[2020-08-11 03:32] #233 closed, assigned to nobody

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-11 03:49] Some-random commented on #232
Thanks for spotting this out. We've fixed it.

[2020-08-14 04:16] #227 closed, assigned to nobody

[2020-08-17 05:41] #230 closed, assigned to nobody

[2020-08-17 05:45] zcy618 opened #237 "how to check the wer summary result?"
dear friends:
I think I have successfully finished the asr/aishell example training and decoding, but I do not know where to check the summary result.
as you said:

Transformer (Ours without pre-training) | 6.82 | 57.88M
-- | -- | --
Transformer (Ours with self pre-training) | 6.6 | 57.88M

but from my log, I could only see every testing sentence like below:
INFO:absl:predictions: tf.Tensor(
[[217

[2020-08-17 06:32] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 06:32] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 06:32] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 06:32] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 06:33] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 06:33] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 06:33] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 06:33] Some-random commented on #237
The last avg_acc in decoding result file is the overall accuracy of test set because we accumulate errors and total characters during the decoding of test set. Your accuracy seems pretty low (92.08), did you run it using four gpu cards and the batch size we specify in example json?

Kaldi-style WER display is also supported in step 6 and it's more clear. To use it, you need to install sclite and r

[2020-08-17 10:04] zcy618 commented on #237
yes, I have install sclite, and run step 6, but there is only one log:
computing score with sclite ...

Then nothing else. so what do I miss?

[2020-08-17 10:05] zcy618 commented on #237
I used 8 gpu card to run, but because memory limitation, I set the batch size is 32.
Thanks

[2020-08-18 11:10] Some-random commented on #237
You need a total batch size of 128 (batch size = 32 for 4 gpu cards or batch size = 16 for 8 gpu cards) to get optimal results because Transformer models get better results with larger batch size.

[2020-08-18 11:21] Some-random commented on #237
We create a  folder called **score_save** in step 6 for score files. Please check files inside that folder

[2020-08-18 11:30] zcy618 commented on #237
![image](https://user-images.githubusercontent.com/29799298/90507692-e317a180-e188-11ea-955b-305b492c639b.png)

Yes, I noticed it, but I do not understand what I can get from it
[tmp1.txt](https://github.com/athena-team/athena/files/5090057/tmp1.txt)
[tmp2.txt](https://github.com/athena-team/athena/files/5090058/tmp2.txt)

I changed *.list to *.txt in order to upload them, could you help to check

[2020-08-18 11:32] zcy618 commented on #237
if so, I am using 8gpu with batch size 32, I think it should get better result, actually it is not, what should I do next?
Thanks.

[2020-08-18 11:34] Some-random commented on #237
Can you also upload your decode.log please?

[2020-08-18 11:37] Some-random commented on #237
If you used **mtl_transformer_sp.json** with 8 gpu cards and a total batch size of (8 * 32), you should be able to at least get similar results as ours. Can you upload your training log please?

[2020-08-18 11:37] zcy618 commented on #237
the decode.list is zero, nothing content, so I do not upload it.
Thanks

[2020-08-18 11:40] zcy618 commented on #237
[nohup.out.zip](https://github.com/athena-team/athena/files/5090100/nohup.out.zip)

Yes, sure, it is here.

[2020-08-18 13:14] Some-random commented on #237
It seems like you have written everything in nohup.out file but decode.log is supposed to be a separate file. You can take line 76236 to line 94744 from your nohup.out, make a decode.log yourself and run step 6 again.

[2020-08-18 13:21] Some-random commented on #237
I've read the log, the batch size you used for ASR training is actually 16, but with 8 gpu cards it should be the same as our default config. Can you please check your cmvn file (examples/asr/aishell/data/cmvn)? Do you have per-speaker cmvn extracted for Aishell?

I also couldn't find your epoch 0 dev result for Aishell. Looking at the log, it seems the ASR training starts from epoch 1, which isn'

[2020-08-19 01:45] zcy618 commented on #237
Firstly, thanks very much for your log checking, I think maybe there are some breaks during the training because some unexpected errors. So do you think it is helpful if I git pull the latest code and re-run aishell: run.sh? If so, do you have some suggestions before I run it please, for examples, how to capture log, and how to run(earlier, I used nohup ./example/asr/aishell/run.sh &).
Thanks.

[2020-08-19 03:42] Some-random commented on #237
I think you only need to rerun stage 3 and stage 5 if your cmvn is correct. Can you please upload your cmvn file for aishell?

[2020-08-19 05:27] #232 closed, assigned to nobody

[2020-08-20 01:57] zcy618 commented on #237
Sure, it is here:

[cmvn.txt](https://github.com/athena-team/athena/files/5100223/cmvn.txt)

[2020-08-21 08:54] Some-random commented on #237
The cmvn file seems alright. You can just remove all ckpt files in checkpoint_dir and just rerun step 3 and step 5. That should lead you to our published result.

[2020-08-23 10:43] fming opened #243 "raise error "num samples is empty""
INFO:absl:>>>>> start evaluate in epoch 0
Traceback (most recent call last):
  File "athena/main.py", line 191, in <module>
    train(json_file, BaseSolver, 1, 0)
  File "athena/main.py", line 169, in train
    devset = devset_builder.as_dataset(p.batch_size, p.num_data_threads)
  File "/home/master/ming/athena/athena/data/datasets/base.py", line 105, in as_dataset
    return data_loader(self, bat

[2020-08-23 15:02] Some-random commented on #243
Please check your **dev.csv** again to make sure file path is correct and files fall into **input_length_range**.

[2020-08-24 06:04] zcy618 opened #244 "do you really need tensorflow addons?"
(venv_athena) (base) [aa@aa athena]$ ./examples/asr/aishell/run.sh
Creating csv
/data/nfs_rt16/aa/asr/venv_athena/lib/python3.7/site-packages/tensorflow_addons/utils/ensure_tf_install.py:68: UserWarning: **Tensorflow Addons supports using Python ops for all Tensorflow versions above or equal to 2.2.0 and strictly below 2.4.0 (nightly versions are not supported).**
 The versions of TensorFlow you a

[2020-08-24 12:32] Some-random commented on #244
tf 2.0.0 is no longer used because of security issues. Current version of tf for Athena is 2.0.1 (been bumped in this [pr](https://github.com/athena-team/athena/pull/43)). Please try upgrading tf to 2.0.1 first.

If that issue still persists, I guess you could always comment out codes using tfa and the import itself (basically comment out all code related to InstanceNormalization in commons.py)...

[2020-08-24 14:18] zcy618 commented on #244
hi Some random, I will try 2.0.1, but I still have one question and one suggestion:
1, actually, I do not understand what do you mean for "If that issue still persists, I guess you could always comment out codes using tfa and the import itself (basically comment out all code related to InstanceNormalization in commons.py)..."

2, I have tried athena many days, from my first time to now, I have met

[2020-08-26 05:30] Some-random commented on #244
Thank you so much for your suggestions! Athena is obviously still in development and there are lots of changes happening.  We will release a stable version of Athena with a thorough test once we finished the modules we're currently developing and conduct more tests when we add something new.

As for your specific question, we will update tf version requirements in README.md. What I meant by "comme

[2020-08-29 09:04] #237 closed, assigned to nobody

[2020-08-31 07:59] zcy618 commented on #244
hi dear friends:
I have upgraded tensorflow from 2.0.0 to 2.0.1, but there are errors like earlier yet:

Fine-tuning
[1,1]<stderr>:/data/nfs_rt16/chenyu/asr/venv_athena/lib/python3.7/site-packages/tensorflow_addons/utils/ensure_tf_install.py:68: UserWarning: Tensorflow Addons supports using Python ops for all Tensorflow versions above or equal to 2.2.0 and strictly below 2.4.0 (nightly versions ar

[2020-08-31 12:20] Some-random commented on #244
We've decided the [compatibility mechanism]( https://github.com/tensorflow/addons#python-op-compatibility-matrix ) of tensorflow addons is too user-unfriendly and we're removing the dependency of it in this [PR](https://github.com/athena-team/athena/pull/260). Feel free to pull from it!

[2020-08-31 16:44] #243 closed, assigned to nobody

[2020-09-01 02:52] zcy618 commented on #244
hi Some-random:
Thanks very much for quick response!

Now I pull the latest code, but I get the new issue:
[1,0]<stderr>:2020-08-31 22:46:45.037824: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7
[1,2]<stderr>:2020-08-31 22:46:45.039328: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic lib

[2020-09-01 03:15] cookingbear commented on #244
If you want to use multiple gpus, horovod is needed and the command line should be like this:
horovodrun -np 4 -H localhost:4 xxxxxxx
"4" is the number of gpus you want to use.
The number of visible gpus you specified should not be smaller than this number. Or you can set the solver_gpu to empty, it will automatically use first 4 gpus.

[2020-09-01 05:54] zcy618 commented on #244
hi cookingbear:
I am using examples/asr/aishell/run.sh, it run correctly eariler before, but after I pulled your latest code, it reports above errors, so do you think I missed something?
Thanks.

[2020-09-01 07:05] cookingbear commented on #244
can you set solver_gpu in the corresponding config to empty and try again? that may be caused by a missing update

[2020-09-01 08:46] zcy618 commented on #244
I have changed "solver_gpu":[0], to "solver_gpu":[], in examples/asr/aishell/configs/mtl_transformer_sp.json, but it still reports such errors, could you tell me where do you suggest to change please?
Thanks.

[2020-09-01 08:54] cookingbear commented on #244
can you please show the command which reported this error?

[2020-09-01 09:25] zcy618 commented on #244
./example/asr/aishell/run.sh
Thanks

[2020-09-01 09:26] cookingbear commented on #244
which command line in run.sh

[2020-09-02 02:34] zcy618 commented on #244
I just change stage=3.
Thanks

[2020-09-03 08:49] zcy618 commented on #244
any update please?
Thanks.

[2020-09-04 00:10] fming opened #264 "'LanguageDatasetBuilder' object has no attribute 'compute_cmvn_if_necessary'"
Environment:
OS: Centos 8
GPU: GTX 1660
CPU: Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz

Error Information:

Try the step 3.6 "On a single cpu/gpu", it raise this error:
Traceback (most recent call last):
  File "athena/main.py", line 194, in <module>
    train(json_file, BaseSolver, 1, 0)
  File "athena/main.py", line 144, in train
    trainset_builder.compute_cmvn_if_necessary(rank == 0)
AttributeE

[2020-09-04 04:20] Some-random commented on #264
Thanks for spotting this bug out! The root cause of this bug is we removed the **compute_cmvn** function in base dataset. We'll fix this bug in this [pr](https://github.com/athena-team/athena/pull/265)

[2020-09-04 11:54] cookingbear commented on #244
Sorry for the late reply. I tested run.sh again and your problem did not occur. Can you please pull the newest code and test it again?

[2020-09-06 01:33] #264 closed, assigned to nobody

[2020-09-06 04:18] fming opened #269 "num samples is empty"
OS: Centos 8

Run step 3.7) Test your installation (on single CPU/GPU)
it throws exception "num samples is empty" after long running!

[code]

[2020-09-06 06:45] Some-random commented on #269
Please check your dev.csv again to make sure file path is correct and files fall into input_length_range.

[2020-09-06 07:09] fming commented on #269
Thanks for your replying.
1. first there is no dev.csv when run step 3.7, but here is a file /examples/translate/spa-eng-example/data/train.csv
`input_transcripts       output_transcripts
go .    ve .
go .    vete .
go .    vaya .
go .    vayase .
hi .    hola .
run !   corre !
run .   corred .
...
`
2. I don't understand which file do you want me to check? could you please tell me more.

Thanks f

[2020-09-06 07:44] fming commented on #269
Meet similar problem when try asr/timit:
`INFO:absl:trying to restore from : examples/asr/timit/ckpts/mtl_transformer_ctc_sp/
Traceback (most recent call last):
  File "athena/main.py", line 194, in <module>
    train(json_file, BaseSolver, 1, 0)
  File "athena/main.py", line 131, in train
    p, model, optimizer, checkpointer = build_model_from_jsonfile(jsonfile)
  File "athena/main.py", line 119

[2020-09-06 07:45] Some-random commented on #269
I've checked our scripts for translation example again, turns out it's a bug that we didn't generate dev.csv for evaluation. Sorry for that and we will fix that problem soon. For now, you can just copy train.csv to dev.csv and it should be fine.

[2020-09-06 07:47] Some-random commented on #269
Timit shouldn't have this problem, have you downloaded Timit data as instructed in README.md? Have you successfully finished prepare_data.py and generated train.csv and dev.csv in **examples/asr/timit/data**?

[2020-09-07 08:39] kingfener opened #274 "Tensor with incompatible shape in solver.evaluate stage"
Hi ,
    Thanks for Athena project firstly.
    When I use Athena/asr/timit for phone recognition. I just meet warning bellow:

"
303.train | [2020-09-07T08:28:10Z] INFO:absl:>>>>> start training in epoch 12
303.train | [2020-09-07T08:28:10Z] INFO:absl:perform batch_wise_shuffle with batch_size 32
303.train | [2020-09-07T08:28:10Z] INFO:absl:please be patient, enable tf.function, it takes time ...

[2020-09-07 12:01] Some-random commented on #274
We haven't met errors like this before, seems like the model/ data changed halfway through training. Can you please upload your whole log?

[2020-09-07 17:17] zhaoyang9425 opened #277 "Is there any trained model avaliable"

[2020-09-08 03:06] kingfener commented on #274
logs are too long : here are part of them

303       | [2020-09-07T07:42:52Z] --> STARTING
303.train | [2020-09-07T07:42:52Z] --> STARTING
303.train | [2020-09-07T07:42:52Z] Reason: PREPARE
303.train | [2020-09-07T07:42:52Z] Message: Preparing environment
303       | [2020-09-07T07:42:56Z] --> RUNNING
303.train | [2020-09-07T07:42:56Z] --> RUNNING
303.train | [2020-09-07T07:42:57Z] Training
303.tr

[2020-09-08 03:13] Some-random commented on #274
There are already errors about tensor shape during model initialization. My guess is it's one of the two things: data changed between this run and last run **or** model changed this run so it doesn't match the checkpoint from last run.

Either way, if you just want to get rid of this error, you can always delete all checkpoints and restart training from scratch.

[2020-09-08 03:31] kingfener commented on #274
ok,thanks alot. I will try it.

[2020-09-08 05:44] zcy618 commented on #244
hi cookingbear:
According to your suggestion, I git pull latest master's code, and rerun: ./example/asr/aishell/run.sh, but I got one new error:
Fine-tuning
[1,2]<stderr>:Traceback (most recent call last):
[1,2]<stderr>:  File "athena/horovod_main.py", line 25, in <module>
[1,2]<stderr>:    from athena import HorovodSolver
[1,2]<stderr>:  File "/data/nfs_rt16/chenyu/asr/athena/athena/__init__.py",

[2020-09-08 05:51] zcy618 commented on #244
BTW, according to your recent code status, I feel that the project's status is not very stable, I always meet kinds of errors, so could I know when will one stable version may be released?
Thanks.

[2020-09-08 06:01] fming commented on #269
The information is not so clear at here:https://github.com/athena-team/athena/tree/master/examples/asr
After following the instructions: https://github.com/athena-team/athena
Now I can run TIMIT successfully without problem.
Thanks!

[2020-09-08 06:06] kingfener commented on #274
308.train | [2020-09-08T05:06:10Z] INFO:absl:Creates the sub-dataset which is the 0 part of 1
308.train | [2020-09-08T05:06:10Z] INFO:absl:hparams: [('audio_config', {'type': 'Fbank', 'filterbank_channel_count': 40}), ('cls', <class 'athena.data.datasets.speech_recognition.SpeechRecognitionDatasetBuilder'>), ('cmvn_file', '/workspace/audio_src/Timit2/timit_wav/data/cmvn'), ('data_csv', '/workspace

[2020-09-08 06:44] Some-random commented on #274
The problem is clear, it's because the shape of input data doesn't match the expected input shape of the model. But I can't quite understand why because the shape of input data has already been defined in places like [here](https://github.com/athena-team/athena/blob/master/athena/data/datasets/speech_recognition.py#L161)...

In case it's related to the environment, the python version we used is 3.

[2020-09-08 07:15] kingfener commented on #274
My WeChat is :  kingfener  , may you add me so we can communicate directly.

[2020-09-08 08:41] Some-random commented on #274
Sure

[2020-09-10 06:49] cookingbear commented on #244
Sorry for the late reply. Recently there are lots of updates. We will release a stable version after these updates. Now you can run the aishell recipe successfully after you pull the newest code.

[2020-09-10 09:36] fming opened #286 "Evaluate Model show some warnings"
when I try to run code of 4.5, it show some warnings like below:
`WARNING:tensorflow:A checkpoint was restored (e.g. tf.train.Checkpoint.restore or tf.keras.Model.load_weights) but not all checkpointed values were used. See above for specific issues. Use expect_partial() on the load status object, e.g. tf.train.Checkpoint.restore(...).expect_partial(), to silence these warnings, or use assert_cons

[2020-09-10 12:53] kingfener opened #287 "Accuracy drop abnormal"
Hi ,
    I try to train asr/timit on my pc ,  though the train haven't finished yet , but I find that since ":global_steps: 7231    "[  see log attached]， accuracy drop sharply, and   CTCAccuracy drop to 0 and don't change any more.

   So, is this normal ?  or may be something wrong ?

Thanks a lot.

##############  ##############  ##############  ##############  ##############  ##############
 p

[2020-09-10 15:13] Some-random commented on #277
We do have plans to release trained models. We probably can't upload models trained using company data, but model trained with open source data should be ok.

May I ask what exact models are you interested in?

[2020-09-10 15:16] Some-random commented on #286
The warning message always appear when conducting decoding. It wouldn't effect decoding result and can be safely ignored.

Can you check if there are decoding results inside decode.log and sclite is installed? And if so, can you please upload your decode.log?

[2020-09-10 15:22] Some-random commented on #287
CTC training can be unstable and it may fall into a plateau that's hard to recover from. It seldom happens and my best suggestion is to just rerun the whole thing or start from a checkpoint where the convergence is still normal.

[2020-09-11 08:27] fming opened #288 "Question for Data Normalization"
At step 4.3 data normalization, its code example is like this:
`python athena/cmvn_main.py examples/asr/$dataset_name/configs/mpc.json examples/asr/$dataset_name/data/all.csv
`

I ran the timit dataset, so I check the folder "examples/asr/timit/data/", there are files "dev.csv", "train.csv", "test.csv",  but there is no "all.csv", do you mean I run that command with csv files one by one?

`python

[2020-09-11 08:29] zhaoyang9425 commented on #277
aishell and librispeech dataset

[2020-09-11 08:52] fming commented on #286
@Some-random Thanks for your replying, here is my decode.log
[decode.log](https://github.com/athena-team/athena/files/5207783/decode.log)

It seems there missed a lot of information.  I have installed the sclite.  I suspect it is related to case #288

[2020-09-11 08:59] #269 closed, assigned to nobody

[2020-09-12 12:04] Some-random commented on #288
all.csv will be generated in stage 1. If train.csv, dev.csv and test.csv all there, there should be no reason why you don't have all.csv.

[2020-09-12 12:08] Some-random commented on #286
It's not related to cmvn files because missing cmvn file will only cause degradation in performance. If you're running the recipe with something like nohup, there is a chance the actual decoding log will be written into nohup.out instead of decode.log. You will have to take these log out and put it into decode.log manually and rerun stage 4.

[2020-09-12 12:09] Some-random commented on #286
decode.log should be composed of lines like these:

[code]

Please check your log file to see if they exist

[2020-09-12 12:23] zhufengyun opened #289 "pandas version need to be speficied in requirements.txt"
pip3 install -r requirements.txt
(pandas-0.25.3 installed)

python3 setup.py bdist_wheel sdist

Traceback (most recent call last):
  File "setup.py", line 21, in <module>
    import tensorflow as tf
  File "/tmp/venv_athena/lib/python3.6/site-packages/tensorflow/__init__.py", line 98, in <module>
    from tensorflow_core import *
  File "/tmp/venv_athena/lib/python3.6/site-packages/tensorflow_core

[2020-09-12 14:36] Some-random commented on #289
Thanks for spotting this out. Our pandas version is 0.25.1, I guess we can just add this restriction in requirements.txt.

[2020-09-13 04:14] fming commented on #288
@Some-random Sorry I didn't run the sh script run_101.sh, I just ran the scripts following 4.1/4.2/4.3...., That's the reason why I don't have the all.csv file.

[2020-09-13 04:14] #288 closed, assigned to nobody

[2020-09-13 09:52] zhufengyun opened #291 "abnormal accuray pattern"
experiment setting:
1 using HKUST dataset
2 apply MPC pretraining, batchsize 32
3 train with mtl_transformer_sp.json, batchsize 16
3.1 restore weights from MPC checkpoint with:
"pretrained_model": "examples/asr/hkust/configs/mpc.json"

the following log shows the evaluation process of epch 0, with some context around it
there are 2 problems:
1 the accuray drops from ~0.4 in the last warmup trainin

[2020-09-14 03:36] zcy618 commented on #244
Dear friends:
According to your suggestion, I pull the latest code, with the latest code, I have completed the aishell data process, but I do not know if it is finished correctly, and the last log is "computing score with sclite ...", then there is no more log, and I checked the decode.log in athena folder as below:
[decode.log](https://github.com/athena-team/athena/files/5215981/decode.log)

I do

[2020-09-14 14:32] cookingbear commented on #291
Hi, the reason that the accuracy drops in the evaluation stage and the second epoch is that the data is sorted by duration in first epoch, and the model after the first epoch can not immediately adapt to the data with short durations.

[2020-09-15 01:18] fming commented on #286
[decode.log.result.map.sys.txt](https://github.com/athena-team/athena/files/5221926/decode.log.result.map.sys.txt)
[decode.log](https://github.com/athena-team/athena/files/5221929/decode.log)

@Some-random I've checked the decode.log, the lines don't exist.
My way is to run the code:
`source examples/asr/timit/run_101.sh
`
here are some warnings in the console:
`INFO:absl:predictions: tf.Tensor(
[

[2020-09-15 03:09] neneluo commented on #244
Hi zcy618,

This happens because the decode results did not write to decode.log successfully by ">". I updated our codes in order to write the inference log directly to a file via python script in this [pr](https://github.com/athena-team/athena/pull/295). Try to pull the codes and feel free to reply if you have further questions.

Thanks,
Ne

[2020-09-15 03:23] neneluo commented on #286
Hi fming,

It seems like your decode results were printing to the console instead of decode.log, which is why the values in decode.log.result.map.sys is 0.  I updated our codes in order to write the inference log directly to a file via python script in this [pr](https://github.com/athena-team/athena/pull/295/files). Try to pull the codes and feel free to reply if you have further questions.

Thank

[2020-09-15 04:38] zhufengyun commented on #291
great explanation, thanks :)

[2020-09-15 04:38] #291 closed, assigned to nobody

[2020-09-15 05:48] Some-random commented on #277
Sure, we will begin to generate and collect trained model and will let you know when models for aishell and librispeech are available.

[2020-09-15 06:52] zcy618 commented on #244
hi neneluo:
I pull the latest code, and change the stage=6 in example/asr/aishell/run.sh, the output is as below:

computing score with sclite ...
| SPKR   |    # Snt         # Wrd    | Corr    Sub    Del    Ins    Err  S.Err |
| Sum/Avg|        0             0    |  0.0    0.0    0.0    0.0    0.0    0.0 |

Do you think is it correct please? BTW, I upload the score folder's files here:

[score.zi

[2020-09-15 07:23] neneluo commented on #244
Hi zcy618,

No, I am afraid not, and your inference.log might be empty. Have you finished training and inference stages (i.e. stage 3 and stage 5 in run.sh)? Can you upload the training log and inference log too, please?

Thanks,
Ne

[2020-09-15 08:10] fming commented on #286
@neneluo it works after getting the latest changes.
here is result I've got from score/score_map/inference.log.result.map.sys :
[code]

[2020-09-15 08:10] #286 closed, assigned to nobody

[2020-09-16 06:04] #289 closed, assigned to nobody

[2020-09-16 07:27] zcy618 commented on #244
Yes, I completed them earlier, so after you update your code, I re-run from stage 6, do you think I need to start run from stage 3?
Thanks.

[2020-09-16 08:05] neneluo commented on #244
It is not necessary to re-run from stage 3. Please check your dev accuracy in the training log and make sure decode results appear in inference.log first.

The training log should contain lines like this:
[code]
(this is a log for another dataset, so the accuracy is low)
You can check whether your training process is correct by `grep epoch:` to see accuracies (this line in log file reports accurac

[2020-09-16 09:18] #274 closed, assigned to nobody

[2020-09-18 09:35] fming opened #297 "cannot find -ltensorflow_framework when deploy models."
Follow the instruction here:
https://github.com/athena-team/athena/blob/master/deploy/README.md

Step 4. Compiling the C++ Codes and Running the executable file, run make command, it throw exception:
`Scanning dependencies of target tensor_utils
[ 12%] Building CXX object CMakeFiles/tensor_utils.dir/src/tensor_utils.cpp.o
[ 25%] Linking CXX static library libtensor_utils.a
[ 25%] Built target tens

[2020-09-18 14:01] neneluo commented on #297
please check whether `libtensorflow_framework.so` is in the directory `bazel-bin/tensorflow`

[2020-09-18 16:42] #287 closed, assigned to nobody

[2020-09-20 02:36] fming commented on #297
Thanks, I've checked it and add the follow soft link:
`ln -s libtensorflow_framework.so.2.0.2 libtensorflow_framework.so
ln -s libtensorflow_framework.so.2.0.2 libtensorflow_framework.so.2
`
then I can build the asr, but after running it raise this error:
`Start argmax decoding ...
2020-09-19 22:32:57.082097: E tensorflow/core/grappler/optimizers/meta_optimizer.cc:502] model_pruner failed: Interna

[2020-09-21 06:03] neneluo commented on #297
Did the script output any error message when you run `python athena/deploy_main.py *.json`?

[2020-09-21 07:56] fming commented on #297
@neneluo Thanks for replying.
There are two json files under the folder, which one I should use?
`examples/asr/timit/configs/mtl_transformer_sp_101.json
examples/asr/timit/configs/mtl_transformer_sp.json
`

I tried both, both has similar warnings like below

`
None
WARNING:tensorflow:From athena/deploy_main.py:61: The name tf.keras.backend.get_session is deprecated. Please use tf.compat.v1.keras.b

[2020-09-21 08:21] neneluo commented on #297
Use the one which you used for model training.
I guess the bug is caused by the mismatch between output names that specified in tensor_utils.cpp and pb. Try to change the first 'output_name' in the function `createOutputNameStructureEncoder` of `deploy/src/tensor_utils.cpp` to `transformer_encoder/transformer_encoder_layer_8/layer_normalization_17/batchnorm/add_1` and rebuild the asr.

[2020-09-21 10:53] xinkez opened #298 "Errors when using voice converse example"
Hi,

when I ran the script of **examples/vc/vcc2018/run.sh**, I got such errors below. Thank you in advance.

[
Traceback (most recent call last):
  File "athena/stargan_main.py", line 179, in <module>
    train(json_file, GanSolver, 1, 0)
  File "athena/stargan_main.py", line 125, in train
    p, model, checkpointer = build_model_from_jsonfile_stargan(jsonfile)
  File "athena/stargan_main.py", li

[2020-09-21 14:08] xiaochunxin commented on #298
The bug was caused by File "athena/stargan_main.py", line 105, in build_model_from_jsonfile_stargan
model_name="gan".
just delete the model_name="gan", and you can keep run the  examples/vc/vcc2018/run.sh

I'm sorry for the trouble caused to you due to our negligence in work.

[2020-09-21 14:50] xinkez commented on #298
Thank you. Now it works. Also two more questions, as I know there are 12 speakers in the vcc 2018 training dataset, why do you set the parameter <speaker_num>  to 9 in the file of <stargan_voice_conversion.json>? and how do you split vcc 2018 dataset into <train>, <dev> and <test>?

[2020-09-22 02:11] zcy618 commented on #244
hi neneluo:
I totally re-run the run.sh, and this time, I think I get the right result, could you help to check it please?
[inference.log.result.txt](https://github.com/athena-team/athena/files/5258909/inference.log.result.txt)

Thanks

[2020-09-22 02:33] neneluo commented on #244
I think it is correct.

[2020-09-22 03:12] fming commented on #297
@neneluo Thanks, it is getting better, but there is one more warning:
`se `tf.compat.v1.graph_util.remove_training_nodes`
INFO:absl:output_names: ['strided_slice_3']
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.iter
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.iter
WARNING:tensorflow:Unresolved object in checkpoint: (root).optimizer.beta_1
`
I refer

[2020-09-22 03:23] neneluo commented on #297
These warnings won't affect the result. I think the main error is the mismatch of output names, so you need to change them manually in `deploy/src/tensor_utils.cpp`. I mean, update line 98-99 in the file from
[code]
to
[code]
The other lines remain unchanged.

[2020-09-22 03:27] xiaochunxin commented on #298
I fixed the bug.Just take a look at my updated code.

[2020-09-22 03:31] neneluo commented on #297
As you can see, the script `athena/deploy_main.py` output the following logs:
[code]
The first line describes the output_names of the encoder and the second line describes the output_names of the decoder. For now, you may always need to change the output_names that specified in `deploy/src/tensor_utils.cpp` manually according to these logs when you change model structures.
I will update the codes

[2020-09-22 05:16] xinkez commented on #298
Thank you. I run our your updated codes. Now the training is good, but when it come to dev stage,  it output the errors in the following. Should the number of speakers in the train set be same with that of dev set?  and how do you split vcc 2018 dataset into train, dev and test?

INFO:absl:>>>>> start evaluate in epoch 0
INFO:absl:hparams: [('cls', <class 'athena.data.datasets.voice_conversion.Voi

[2020-09-22 05:41] xiaochunxin commented on #298
The number of speakers in the train set must be same with that of dev set.

[2020-09-23 06:45] nan9126 opened #300 "How can I get vocab.txt and feats.txt"
hi
    recently，I trained the model following your readme by **/athena/examples/asr/aishell/run.sh** and deployed the c++ demo. After freezing pb , I regard the  **vocab** in "**/examples/asr/aishell/data/**" as  **vocab.txt** and obtained the feats from training process ,then I run c++ demo and motified the batchsize same as the feats from training, but still got a wrong result,.
    so I wanna k

[2020-09-23 06:50] neneluo commented on #300
The way that you getting vocab.txt and feats.txt is correct. Try using batch size 1 and normalized feats.

[2020-09-23 06:58] nan9126 commented on #300
Thanks for your replay
The features i get is like "-1.60294092e+00 -1.29458332e+00 -1.66426182e+00 -1.82421780e+00 -1.70533729e+00......",so how to normalize it .
if I want to use other wav and how to get the features.

[2020-09-23 07:08] neneluo commented on #300
Here is an example:
[code]
You need to specify the wav path and 'speaker' to be the correct ones. By running FeatureNormalizer, you can get normalized features.

[2020-09-23 07:34] nan9126 commented on #300
I tried the example and run the c++ demo, still got the wrong result:
 "Argmax decoding results: 左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左左塑塑塑塑塑塑塑塑塑塑塑塑塑塑塑塑塑塑塑臻左左臻左臻左臻左塑臻左塑臻左塑臻左塑臻左塑臻
"
May wrong with my pb? Is there any way to locate the error?

[2020-09-23 08:07] neneluo commented on #300
First, please make sure your training process is properly finished, i.e. your model achieved CER around 6.6%. Then, check whether the model is properly loaded when generating pb, and check whether any error messages were print out during this stage. Also, I suggest that you use a wav from aishell and check the decode result again to make sure this problem is not caused by the mismatch between your

[2020-09-23 08:12] nan9126 commented on #300
I do use the wav from aishell test set , and I will check my training process and generating pb process  , thanks a lot~（星星眼）

[2020-09-23 08:34] #277 closed, assigned to nobody

[2020-09-23 09:27] fming commented on #297
@neneluo Thanks a lot, after run .asr, I got this information:
`(venv_athena) [ming@localhost build]$ ./asr

Loading model ...
2020-09-23 05:25:04.233553: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX
2020-09-23 05:25:04.268616: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU

[2020-09-23 09:41] neneluo commented on #297
Seems something wrong. The decode results are supposed to be printing to the screen. Have you prepared vocab.txt and feats.txt and put them under `deploy/graph_asr/test_data`?

[2020-09-23 10:49] xinkez commented on #298
@xiaochunxin With the training going on, the "loss", "metrics_d" and "metrics_g" will become nan, and these parameters cannot return to normal state.
![image](https://user-images.githubusercontent.com/13937138/94003163-7c138b00-fdcd-11ea-9ac5-de51ff39c451.png)

[2020-09-24 03:41] xiaochunxin commented on #298
In the config file,the parameter of optimizer_config shuld be adjust.The maximum learning rate should not be greater than 2.0e-04.

[2020-09-24 06:51] xiaochunxin commented on #298
Are you using the corpus of VCC2018? If so, you can try changing the k value in optimizer_config from 0.5 to 0.12.

[2020-09-24 06:57] neneluo commented on #300
You are welcome. Feel free to reply if you have any further questions.

[2020-09-24 08:20] fming commented on #297
@neneluo Thanks, I've checked it. there are no these files on my PC.  so where to get these two files? it seems vocab.txt is here:
`examples/asr/timit/data/vocab
`
how to get the feats.txt?

[2020-09-24 09:49] xiaochunxin commented on #298
Are you using the corpus of VCC2018? If so, you can check out the patch in this pr( https://github.com/athena-team/athena/pull/302/files ). The optimizer parameters used before will lead to high learning rate in the training process, thus causing loss=NAN in some cases because the training of GAN is highly unstable.

[2020-09-24 23:59] xinkez commented on #298
Yes, I'm using the corpus of VCC2018.

First I used all the 12 speakers to train the model, the loss is normal, but the generated wavs after training is not so good. So I tried to select only 2 speakers to train this model, the loss became nan as I mentioned before. Yesterday I checked out your patch in the pr (https://github.com/athena-team/athena/pull/302/files ), but it still became nan during

[2020-09-25 03:18] neneluo commented on #297
[codes](https://github.com/athena-team/athena/issues/300#issuecomment-697178003)

[2020-09-25 08:07] fming commented on #297
@neneluo Thanks! I see your code, could I ask a stupid questions, how to generate the feats.txt, here is my script, say "create_feats.py":
`
from athena.transform import AudioFeaturizer
from athena.data import FeatureNormalizer

path = "/home/ming/athena/examples/asr/timit/data/wav/DEV/FADG0-SI649.WAV"
audio_config =  {"type":"Fbank", "filterbank_channel_count":40}
cmvn_file = "examples/asr/timit/

[2020-09-25 08:10] neneluo commented on #297
I use numpy:
[code]

[2020-09-25 08:26] fming commented on #297
@neneluo  Great! Thanks!, it seems working, right?
`(venv_athena) [ming@localhost build]$ ./asr
Loading model ...
2020-09-25 04:23:22.372337: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX
2020-09-25 04:23:22.401870: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 33

[2020-09-25 08:31] neneluo commented on #297
Yes. You can check whether the result is similar to its label or the results that decoding by python to assert correctness.

[2020-09-30 04:04] #244 closed, assigned to nobody

[2020-09-30 10:05] #25 closed, assigned to barius

[2020-09-30 10:06] #32 closed, assigned to cookingbear

[2020-09-30 10:07] #47 closed, assigned to barius

[2020-10-02 10:58] #300 closed, assigned to nobody

[2020-10-03 10:02] #297 closed, assigned to nobody

[2020-10-09 07:53] nan9126 commented on #300
hi, I trained the model again and got the score like

| Sum/Avg | 7128  103999 | 93.7    5.6    0.7    0.2    6.5   41.3|
|======================================|
|  Mean     |  7.1  104.1      | 93.9     5.7    0.4    0.2    6.3   37.8 |
|  S.D.        |  4.9   79.5       |  7.5      7.1    2.0    1.4    7.7   32.5 |
| Median   | 11.0  129.0     | 95.1     4.6    0.0    0.0    4.9   36.4 |

then

[2020-10-11 09:28] tjadamlee opened #307 "git clone 文件太大"
git clone时候，需要下载的文件太大了，是否排查下大文件？

[2020-10-11 09:28] tjadamlee commented on #307
@tjadamlee @Some-random

[2020-10-13 06:41] neneluo commented on #300
1. please check whether your directory structure is similar to this:
![image](https://user-images.githubusercontent.com/46837201/95823331-fea1c180-0d5f-11eb-9201-fece2a2f861f.png)
`decoder.pb  encoder.pb  feats.txt  vocab.txt` These four files are must need.
2. you can check whether these files are correctly loaded by printing them out and check the model status in CPP, e.g. check `index_to_char`,

[2020-10-13 06:43] neneluo commented on #300
Please reopen this issue if the problem still exists.

[2020-10-14 02:56] t13m opened #308 "Increasing evaluate_total_loss value"
Is it normal for training processes on AISHELL or HKUST that the total loss value on evaluation set increases after certain steps? Specifically, for HKUST corpus, the evaluate_total_loss is about 12 at 30k step and will increase to over 15 at 100k step; for AISHELL corpus, the loss grows less, but still increases from 6 to 9. These experiments are almost conducted with default configs, only with m

[2020-10-14 05:10] t13m commented on #308
evaluate_total_loss on aishell using athena (default config on 8 gpus)
<img width="903" alt="image" src="https://user-images.githubusercontent.com/5397898/95946021-49820e80-0e1e-11eb-850c-da8dd2fa9857.png">

as a comparison, evaluate loss on aishell using espnet is like this (default config on 1 gpu)
<img width="903" alt="image" src="https://user-images.githubusercontent.com/5397898/95946173-982fa

[2020-10-14 11:48] Some-random commented on #307
The problem is git pack file contains lots of outdated refs as illustrated in [this article](https://stackoverflow.com/questions/11050265/remove-large-pack-file-created-by-git) I used this [tool](https://github.com/newren/git-filter-repo) and shrank the size of .git folder from 400Mb to 7.2Mb.

One problem this approach might bring is it changed all hash values of previous commits and closes all o

[2020-10-14 12:49] Emiyassstar opened #312 "aishell 例子推理报错"
ERROR:tensorflow:==================================
Object was never used (type <class 'tensorflow.python.ops.tensor_array_ops.TensorArray'>):
<tensorflow.python.ops.tensor_array_ops.TensorArray object at 0x7f8b53ff8e50>
If you want to mark it as used call its "mark_used()" method.
It was originally created here:
  File "athena/inference.py", line 90, in <module>
    inference(jsonfile, rank_size=

[2020-10-14 16:06] Some-random commented on #312
We haven't met errors like this before. Can you provide us with the whole log (both training and decoding)?

[2020-10-14 16:06] Some-random commented on #308
@cookingbear please take a look at this

[2020-10-15 03:56] Emiyassstar commented on #312
我将athena/models/mtl_seq2seq.py 136 history_predictions.write(0, last_predictions)
改成history_predictions=history_predictions.write(0, last_predictions)可以解码了

[2020-10-15 07:58] Alex-Songs opened #314 "about WFST decoder for AISHELL-1"
Hello, when I use WFST for AISHELL decoding, the predicted label is one less than the real label, what is the reason for this?

such as:
predictions: tf.Tensor([[2994 717 206 1404 1487 1741 3702 77 1392 84 524]
labels: [[2995 718 207 1405 1488 1742 3703 78 1393 85 525]]

But the beam search is correct.

[2020-10-15 09:28] Alex-Songs commented on #314
Thank you, I have solved the problem.

[2020-10-15 09:44] DamonYangyang commented on #314
How did you solve it ,Ihave the same problem

[2020-10-16 09:13] #307 closed, assigned to Some-random

[2020-10-16 09:13] tjadamlee commented on #307
done

[2020-10-19 16:40] Some-random commented on #308
Sorry for the late reply. We have observed similar trends for evaluate_total_loss and we haven't figured out why our loss curves would be different from espnet. Despite it, it wouldn't cause any degradation in performance because the attention and ctc accuracy for each epoch is almost always increasing, and that's the metrics we used when selecting checkpoints for decoding.

[2020-10-19 16:43] Some-random commented on #314
Sorry for the late reply. We have met problems like this before if we don't set the starting index of vocab to 0. @DamonYangyang can you check if your vocab for aishell is the same as [this one](https://github.com/athena-team/athena/blob/master/examples/asr/aishell/data/vocab)

[2020-10-23 06:20] #312 closed, assigned to nobody

[2020-10-27 20:08] #308 closed, assigned to cookingbear

[2020-10-27 20:08] #314 closed, assigned to nobody

[2020-11-02 04:30] tjadamlee opened #319 ""pip install -r requirements.txt" errors"
ERROR: Could not find a version that satisfies the requirement urllib
ERROR: Could not find a version that satisfies the requirement tarfile
ERROR: Could not find a version that satisfies the requirement tempfile

Please help check

[2020-11-02 07:49] Some-random commented on #319
These packages are supported by native python, I created a [pr](https://github.com/athena-team/athena/pull/320) to fix it

[2020-11-02 12:44] #319 closed, assigned to nobody

[2020-11-04 12:19] TeaPoly opened #322 "Loss is so big when I use label_smoothing=0.1."
When I try  aishell ASR task , the loss is bigger than 2000 when I use label smoothing equal to 0.1. Is this normal?

[2020-11-04 14:15] Some-random commented on #322
It's a bug we haven't really have enough time to fix. My guess is the label smoothing implementation in tf.keras.losses.CategoricalCrossentropy has some problems and applying label smoothing on logits directly before loss calculation might just work. We will fix this ASAP.

[2020-11-05 06:28] iou2much opened #323 "Bug: wrong vacab index for WFST decoding?"
https://github.com/athena-team/athena/blob/master/athena/models/mtl_seq2seq.py#L153

predictions = [self.vocab[prediction] - 1 for prediction in words_prediction]

Seems a bug, not suppose to minus 1 here

[2020-11-06 01:57] TeaPoly commented on #322
I try to add label smoothing and it looks work.

[code]
            import tensorflow as tf
            inputs = tf.convert_to_tensor([[[0, 0, 1],
               [0, 1, 0],
               [1, 0, 0]],
              [[1, 0, 0],
               [1, 0, 0],
               [0, 1, 0]]], tf.float32)
            outputs = label_smoothing(inputs)
            with tf.Session() as sess:
                print(s

[2020-11-06 05:59] Some-random commented on #322
Great! Could you share your results with us using label smoothing this way? I think it will get similar or slightly better accuracy but bigger loss during training and decoding.

[2020-11-06 08:12] iou2much opened #324 "Question for deployment"
In my understanding, after export pb file and use CPP demo to transcribe. It doesn't use beam_search_decoder or wfst_decoder, it just output the transformer decoder result straightly.  am I right?

If so, could anyone give some guidance for using beam_search or wfst in deployment mode? Thanks a lot

[2020-11-07 14:09] TeaPoly commented on #322
I'll give you feedback in time for the latest results.

[2020-11-09 01:51] TeaPoly commented on #322
This development data CTC greedy search and attention ground truth greedy search result (character error rate), all in 13 epochs:
label_smoothing | attention_weight | CTC | ATTENTION | EPOCHS
-- | -- | -- | -- | --
0.1 | 0.7 | 8.20% | 5.78% | 13
0.1 | 0.5 | 7.91% | 6.05% | 13
0 | 0.5 | 8.07% | 6.49% | 13

[2020-11-09 02:37] Some-random commented on #324
The logit operation (addition/ assignment/ for loop) for beam_search_decoder and wfst_decoder are written with python. If you want to perform beam search with C++, there are two ways: 1 You need to create pbs that capture the network operations (encoder feature extraction, decoder step with encoder and previous states and inputs) and stitch them with C++ logits operations. 2 You can write the logi

[2020-11-09 02:45] Some-random commented on #323
Yeah it probably is a bug to complement the fact our previous vocab file didn't start with 0. Can you make sure removing the minus 1 here will get correct results on AISHELL and make a pr for us?

[2020-11-09 02:48] Some-random commented on #322
Great! Can you make a pr for us? I think we should put `apply_label_smoothing` function outside of `__call__` function and we probably don't need to have so many comments for the function (may be a paper reference and introduction of what it does is enough?)

[2020-11-09 05:45] iou2much commented on #323
Yes. I've already try to remove -1 here, and get correct result. I'll make a pr. thanks

[2020-11-09 06:30] iou2much commented on #323
https://github.com/athena-team/athena/pull/326

[2020-11-09 06:30] #323 closed, assigned to nobody

[2020-11-09 06:34] #322 closed, assigned to nobody

[2020-11-09 06:34] iou2much commented on #324
Really? That's great. Let me check it out. Thank you

[2020-11-11 10:08] HalFTeen opened #327 "what does "joint ctc decoding" mean?"
it means hybrid ctc/attention decoding?

[2020-11-12 02:36] iou2much commented on #327
Hi,HalFTeen. you can check this out.

https://github.com/athena-team/athena/blob/b5a124d3d0870509f901c06af2127e10e1a620a1/athena/tools/ctc_scorer.py

[2020-11-12 03:43] HalFTeen commented on #327
thank you

[2020-11-13 07:56] chengpuking opened #329 "mtl_transformer_ctc 模型论文"
问下 ASR模型中，模型 mtl_transformer_ctc 的实现， 有对应的论文么

[2020-11-13 08:01] Some-random commented on #329
The paper for MTL training can be found [here](https://arxiv.org/abs/1609.06773)
The paper for transformer based ASR can be found [here](https://arxiv.org/abs/1909.06317)
The paper for MTL decoding can be found [here](https://www.merl.com/publications/docs/TR2017-103.pdf)

[2020-11-17 10:39] chengpuking opened #330 "where to use mpc model in asr example of aishell"
hello, i go through run.sh in asr example of aishell, i find the trained mpc model hasn't been used anywhere;
I guess it's the method to use this mpc model by writing "pretrained_model": model_path in config files; but i find that pretrained_model is null in mtl_transformer_sp.json
what's wrong with me?

[2020-11-20 07:16] #327 closed, assigned to nobody

[2020-11-21 09:18] #329 closed, assigned to nobody

[2020-11-23 03:40] iou2much commented on #324
Hi, @Some-random and @hoyden . I've read the BatchBeamSearchLayer module in branch mwer.
Yet I still get some questions, could you help to interpret more here?
In BatchBeamSearchLayer, there's no scorer like CTCScorer, lm_model scorer. Do I need them in training stage or decoding stage? won't it help the performance?

[2020-11-23 07:39] Some-random commented on #324
BatchBeamSearchLayer is used in training stage, CTCScorer and lm_model scorer is not used in this stage. For decoding stage, adding these scorers will obviously boost the performance, but we haven't provided deployment with language model and CTC joint decoding yet

[2020-11-25 13:20] #330 closed, assigned to nobody

[2020-12-01 08:57] mapledxf opened #332 "TfLite support"
Is there any model that can support tflite conversion?

[2020-12-08 07:20] cookingbear commented on #332
sorry for the late reply. You can use the newest tensorflow version to convert all the models listed in Athena. If you encounter any problem, please let me know.

[2020-12-14 07:17] mapledxf commented on #332
thx for the reply

[2020-12-14 07:17] #332 closed, assigned to nobody

[2020-12-26 11:39] #147 closed, assigned to nobody

[2021-01-18 12:21] Leeyouxie commented on #330
Sorry for the late reply. You can fine-tune ASR with MPC by adding MPC config path to "pretrained_model:"
e.g:
"pretrained_model": "examples/asr/hkust/configs/mpc.json",

[2021-02-22 11:29] lalimili6 opened #339 "training and decoding time"
Hi Dears,
Thanks for this great project.
Can you explain the training and decoding time?
For the training stage how many GPUs and model of them, time of training?
and for testing what is the size of the model and what is the time of testing especially in server decoding? What are the resources (CPU and memory)?

best regards

[2021-03-03 18:49] #339 closed, assigned to nobody

[2021-03-19 04:18] paulista5 opened #340 "Can the authors provide pretrained weights??"
Hi, we trained our own version of speech simclr, using streaming convnets(Facebook) as an encoder. We wanted to see the similarity of the sentences spoken by different speakers. In the first case, we took the same sentences spoken by different speakers and measured the similarity. Similarly, in the 2nd case, different sentences were spoken by different speakers. We also measured the similarity bet

[2021-03-28 13:07] #340 closed, assigned to nobody

[2021-05-06 06:40] shuaijiang opened #343 "TensorArray Bug"
https://github.com/athena-team/athena/blob/c88ff5db0ea6a42006385b37c7ee80239d201ef6/athena/models/mtl_seq2seq.py#L136

[2021-05-15 22:32] #343 closed, assigned to nobody

[2021-05-21 10:37] kamrapooja opened #346 "Issue in Athena Insatllation"
Hi,
I am following the steps given in documentation to install Athena and tensorflow. I have Windows 10 machine.
Also I found that tensorflow-text is not available for windows if version of tensorflow-text is less than 2.4.0.
I done installation with tensorflow 2.4.0 instead of tensorflow 2.0.1 as mentioned in document.
pip install -r requirements.txt
it is working fine.

But when I am running the

[2021-06-02 14:16] #346 closed, assigned to nobody

[2021-06-07 02:04] shuaijiang opened #347 "Beam Search: the initial cand paraent should be sos"
https://github.com/athena-team/athena/blob/d3b612a5f8da03dedaa681055e64ff694835948e/athena/tools/beam_search.py#L273

[2021-06-08 07:42] shuaijiang opened #348 "Beam Search Bug: new_states are rewritten by the last scorer"
https://github.com/athena-team/athena/blob/d3b612a5f8da03dedaa681055e64ff694835948e/athena/tools/beam_search.py#L146

[2021-06-08 07:42] #347 closed, assigned to nobody

[2021-06-16 20:17] #348 closed, assigned to nobody

[2021-07-09 14:00] luohao123 opened #351 "Example audio?"
any example audio of Chinese?

[2021-07-17 21:34] #351 closed, assigned to nobody

[2021-07-27 06:18] huhailang9012 opened #352 "There is a problem when testing my installation"
(venv_athena) maggie@maggie-Z490-UD:~/venv_athena/athena$ source tools/env.sh
(venv_athena) maggie@maggie-Z490-UD:~/venv_athena/athena$ python examples/translate/spa-eng-example/prepare_data.py examples/translate/spa-eng-example/data/train.csv
INFO:absl:Successfully generated csv file examples/translate/spa-eng-example/data/train.csv
(venv_athena) maggie@maggie-Z490-UD:~/venv_athena/athena$ python

[2021-08-04 17:06] #352 closed, assigned to nobody

[2021-08-06 00:54] sanaperiod opened #353 "Questions about the implementation of GLU"
This is my first issue post, so I apologize if this is not the right place to discuss what I'm posting.

I have a question about the GLU used in layers such as ResidualBlock in "athena/layers/commons.py".
In the ResidualBlock implementation, the output tensor of the same convolution layer is used for the main signal and the gate signal of the GLU. Is this a mistake in the implementation? Or my mis

[2021-08-06 02:21] hoyden commented on #353
@sanaperiod Your implementation is right！

[2021-08-14 20:35] #353 closed, assigned to nobody

[2021-08-18 09:47] DLPerf opened #354 "Performance issue in thr program"
Hello, I found a performance issue in the definition of `GE2ELoss`, athena/loss.py, [tf.transpose and tf.exand_dims](https://github.com/athena-team/athena/blob/e704884ec6a3a947769d892aa267578038e49ecb/athena/loss.py#L562) be calculated repeatedly during program execution, resulting in reduced efficiency. I think it should be created before the loop in `GE2ELoss`.

The same issue exists in [tf,zero

[2021-08-26 16:21] #354 closed, assigned to nobody

[2021-09-13 15:02] fang-mouliang opened #355 "meet an issue when i run the tools/env.sh"
When i executed the “source tools/env.sh” it print "BASH_SOURCE: Undefined variable." I don't know why the $BASH_SOURCE can't be recognited. could anyone can help me?

[2021-09-14 10:07] fang-mouliang opened #356 "setup.py shutil.copy fail permission Error"
I meet the permission ERROR, when execute the setup.py. error info :
PermissionError: [Errno 1] Operation not permitted: 'athena/transform/feats/ops/x_ops.so'

I change the code "shutil.copy" of setup.py to "shutil.copyfile", this issue gone.

[2021-09-22 01:47] #355 closed, assigned to nobody

[2021-09-22 13:47] #356 closed, assigned to nobody

[2021-11-08 02:02] liu-x-p opened #357 "dataset for speech simclr"
Hi, I tried to run your code for speech simclr these days, and I used default parameters, but I got an error.
[code]
It seems there is no implement for data builder _speech_augmentation_dataset_ in the code,and I changed to use other builders listing in SUPPORTED_DATASET_BUILDER, and there are other errors.

[2021-11-17 07:12] #357 closed, assigned to nobody

[2022-02-20 19:57] kingformatty opened #358 "Speech Emotion Recognition Pipeline"
Hi,
Is there any available speech emotion recognition pipeline?

[2022-03-06 11:51] #358 closed, assigned to nobody

[2022-04-16 11:20] Sriramraja05 opened #361 "How to convert a audio file to text file?"
Hi, I just gone through and installed it via docker, could you please help me out with how to convert the wav file format to text.

[2022-04-17 14:15] JianweiSun007 commented on #361
https://github.com/athena-team/athena/tree/master/examples/asr

[2022-04-21 06:37] #361 closed, assigned to nobody

[2022-09-07 06:02] cantabile-kwok opened #369 "The delta pitch feature seems to be strange"
Hi and thanks for the fascinating work! I am using Athena to extract MFCC and pitch without the use of Kaldi. It went smoothly, but when I inspect the value of delta pitch feature (the last dimension of the default 3-dim pitch feature), I got confused. Here is what I found:
1. Although the pitch-feature and the warped NCCF (POV feature) values seems a little bit different from those extracted by K

[2022-09-08 03:17] JianweiSun007 commented on #369
Hi,
I tried extracting the pitch feature using the [athena-transform](https://github.com/athena-team/athena-transform) example audio: 'examples/sm1_cln.wav'. there are some configurations as follows:
                    'window_length': 0.025,
                    'soft_min_f0': 10.0,
                    'delta_pitch_noise_stddev':0,
and the output looks like usual:
Transform:  [[3.8811225e-02 3.00

[2022-09-08 03:33] #24 closed, assigned to aishinchi

[2022-09-08 05:32] cantabile-kwok commented on #369
@JianweiSun007 Thanks for experimenting this. I tried this as well, and the result is close to yours.

But there's still a problem in this result. As we can see, the last dimension of pitch output is very close to 0 (with 1e-7 order). As this wav obviously has pitch variations, the delta pitch feature should not be such a small value all the time. And this result is much different to Kaldi, in ter

[2022-09-28 02:15] #369 closed, assigned to nobody